<div tabindex="-1" class="modal hide fade" id="login-required-modal" style="display: none; margin-top: -128.5px;" aria-hidden="true">
	<div class="modal-header">
		<button aria-hidden="true" data-dismiss="modal" class="close" type="button">x</button>
		<h4>Autenticaci&oacute;n Requerida</h4>
	</div>
	<div class="modal-body" data-replace="true">
		<p>Se necesita que se autentique en el sitio</p>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
	</div>
</div>
<script type="text/javascript">
	$(document).scrollTop(0);
	var $modal = $('#ajax-modal');
	if($modal != undefined){
		$modal.modal("hide");
	}
    $('#login-required-modal').on('hidden', function () {
    	if($('#signin_login')){
    		$('#signin_login').click();
    	} else{
    		$('#login_container').load("/accounts/login/",{}, function(){
    			$('#signin_login').click();
    		});
    	}
	});
	$('#login-required-modal').modal();
	if($('#signin_login')){
		$('#signin_login').click();
	} else{
		$('#login_container').load("/accounts/login/",{}, function(){
			$('#signin_login').click();
		});
	}
</script>
