{% load i18n %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}live_support/js/live_support.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
<script>
    document.get_messages_url = "{% url "client_get_messages" chat.hash_key %}";
</script>
<link href="{{ STATIC_URL }}live_support/css/live_support.css" type="text/css" media="all" rel="stylesheet" />
<link href="{{ STATIC_URL }}css/bootstrap.css" type="text/css" media="all" rel="stylesheet" />
<div class="chat">
    <div class="clear_left"></div>
    <div id="chat_{{ chat.id }}" class="message_list" style="display: block;">
    	
    		<ul>
		        <li>{{ chat.name }}: {{ chat.details }}</li>
        {% for message in chat.messages.all %}
            {% if message.name %}
                <li id="message_{{ message.id }}">{{ message.name }}: {{ message.message }}</li>
            {% else %}
                <li id="message_{{ message.id }}" class="system_message">{{ message.message }}</li>
            {% endif %}
        {% endfor %}
        	</ul>
	    
        <div class="message_box_container">
            <form method="post" action="{% url "client_post_message" chat.hash_key %}">
                {% csrf_token %}
                <input type="hidden" class="chat_id" name="chat_id" value="{{ chat.id }}" />
                <input type="text" class="message_box" name="message" />
                <input type="submit" class="send_message_button btn" value="{% trans 'Send' %}" />
            </form>
            <!-- <form method="post" action="{% url "client_end_chat" chat.hash_key %}">
                {% csrf_token %}
                <input type="hidden" name="name" value="{{ chat.name }}" />
                <input type="hidden" name="end_chat" value="true" />
                <input type="submit" class="end_chat_button btn" value="{% trans 'End' %}" />
            </form> -->
        </div>
    </div>
</div>

