{% load i18n %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>

<link href="{{ STATIC_URL }}live_support/css/live_support.css" type="text/css" media="all" rel="stylesheet" />
<link href="{{ STATIC_URL }}css/bootstrap.css" type="text/css" media="all" rel="stylesheet" />
<div class="start_chat" style="padding: 0 15px;">
    <form method="post">
        {% csrf_token %}
        {{ chat_form.as_p }}
        {% if admin_active %}
        <p><input type="submit" value="{% trans 'Chat' %}" class="btn"/></p>
        {% else %}
        <p><input type="submit" value="{% trans 'Deje un Mensaje' %}" class="btn"/></p>
        {% endif %}
    </form>
</div>
