<div class="social-bookmarking">
		<div class="fb-like" data-href="http://eloquentia.com.mx" data-width="35" data-layout="box_count" data-show-faces="false" data-send="false"></div>
		<a href="http://facebook.com/eloquentia.com.mx" target="_blank" style="display: none;" id="like-btn">like</a>
		<script type="text/javascript">
		FB.Event.subscribe('edge.create', function(response) {
			$('#like-btn')[0].click();
		});
		</script>
    {% for bookmark in bookmarks %}
        <div class="bookmark" id="{{ bookmark.title|slugify }}">
            {% if book.js %}
            <script type="text/javascript">
                {{ bookmark.js|safe }}
            </script>
            {% endif %}
            <a href="{{ bookmark.link }}" title="{{ bookmark.title }}" rel="nofollow" target="_blank">
                <img src="{{ MEDIA_URL }}social_bookmarking/img/{{ bookmark.image }}" style="height:35px;" alt="{{ bookmark.title }}" border="0" />
            </a>
        </div>
    {% endfor %}
        
</div>