{% load l10n %}
{% load expr %}
<div>
	<ul class="breadcrumb">
	    <li><a href="/profiles/{{ user }}/">Perfil</a><span class="divider">/</span></li>
	    <li class="active"><a href="/profiles/edit/">Actualizar Datos</a></li>
    </ul>
	<div class="well">
		<form method="POST" action="/profiles/edit/" id="profile_form" title="Cambiar Mi Perfil">
		{% csrf_token %}
			<table>
				<tr>
					<td>
						<table>
							<tr>
								<td><label for="id_name">Nombre:</label></td>
								<td><input class="required" id="id_first_name" value="{{ user.first_name }}" name="first_name" type="text" /></td></tr>
							<tr>
							<tr>
								<td><label for="id_username">Nombre de Usuario:</label></td> 
								<td><input id="id_username" maxlength="30" value="{{ user.username }}" name="username" type="text" require="true" label="Nombre de Usuario" /></td>
							</tr>
							<tr>
								<td><label for="id_email">Correo Electr&oacute;nico:</label></td> 
								<td><input id="id_email" name="email" value="{{ user.email }}" type="text" validate="email" require="true" label="E-mail" /></td>
							</tr>
						</table>
					</td>
					<td>
						<div style="border-left: 1px solid #EEEEEE; padding: 0 15px">
							<table>
								<tr>
									<td><label for="id_lastname">Apellidos:</label></td>
									<td><input class="required" id="id_last_name" name="last_name" value="{{ user.last_name }}" type="text" /></td>
								</tr>
								<tr>
									<td><label for="id_country">Pa&iacute;s:</label></td>
									<td>
										<select class="required" id="id_country" name="country" style="width: 220px; margin-bottom:10px;">
										{% for country in countries %}
											 <option value="{% expr country[0] as sig %}{{ sig }}" {% if profile.country == sig %}selected="selected"{% endif %}>{% expr country[1] as county %}{{ county|localize}}</option>
										{% endfor %} 
										</select>
									</td>
								</tr>
								<tr>
									<td><label for="id_phone">Tel&eacute;fono:</label></td>
									<td><input class="required" id="id_phone" name="phone" value="{{ profile.phone }}" type="text" /></td>
								</tr>
							</table>
						</div>
					</td>
				</tr>
			</table>
		    <input type="submit" name="submit" class="submit btn btn-primary" value="Aceptar">
		    <input type="button" value="Cancelar" id="cancel_button" class="btn btn-success"/>
		</form>
	</div>
	<script type="text/javascript">
		$('#profile_form').submit(function(){
			$.ajax({
				type: 'post',
				url: $('#profile_form').attr('action'),
				data: $('#profile_form').serialize(),
				success: function(response) {
					History.pushState({state:null}, null, "/accounts/profile/");
				}
			});
			return false;
		});
		$('#cancel_button').click(function(){
			History.pushState({state:null}, null, "/profiles/{{ user }}/");
			return false;
		});
		function format(country) {
            if (!country.id) return country.text; // optgroup
            return "<img class='flag' src='{{ STATIC_URL }}flags/" + country.id.toLowerCase() + ".gif'/>&nbsp;" + country.text;
        }
        $("#id_country").select2({
            formatResult: format,
            formatSelection: format,
            escapeMarkup: function(m) { return m; }
        });

        $('ul.breadcrumb li a').click(function(e) {
			History.pushState({state:this}, null, this.href);
			return false;
		});
	</script>
<div>