	<div class="well">
		<form action="/profiles/password/reset/" method="post" id="reset_form">
			{% csrf_token %}
			<h1>Recuperar Contrase&ntilde;a</h1>
			<p>Olvido su Contrase&ntilde;a? Introduzca debajo su direcci&oacute;n de correo electr&oacute;nico y le enviaremos las instrucciones para obtener una nueva.</p>
			<label for="id_email">Correo electr&oacute;nico:</label> 
			<input id="id_email" maxlength="254" name="email" type="text" /> 
			<input type="submit" value="Aceptar" class="btn btn-primary"/>
			<input type="button" value="Cancelar" id="cancel_button" class="btn btn-success"/>
		</form>
	</div>
	<script type="text/javascript">
		$('#reset_form').submit(function(){
			$.ajax({
				type: 'post',
				url: $('#reset_form').attr('action'),
				data: $('#reset_form').serialize(),
				success: function(response) {
					History.pushState({state:null}, null, "/accounts/profile/");
				}
			});
			return false;
		});
		$('#cancel_button').click(function(){
			History.pushState({state:null}, null, "/home.html");
			return false;
		});
	</script>
    