{% load i18n %}
	<ul class="breadcrumb">
	    <li class="active"><a href="/profiles/{{ user }}/">Perfil</a></li>
    </ul>
	<div>
		<div class="well">
			<h2>Mi Perfil</h2>
			<hr>
			<form method="POST" action="" id="profile_form" >
				<table>
					<tr>
						<td>
							<table>
								<tr>
									<td><label for="id_name">Nombre:</label></td>
									<td><input class="required" id="id_first_name" value="{{ user.first_name }}" name="first_name" type="text" disabled="disabled"/></td></tr>
								<tr>
								<tr>
									<td><label for="id_username">Nombre de Usuario:</label></td> 
									<td><input id="id_username" maxlength="30" value="{{ user.username }}" name="username" type="text" require="true" label="Nombre de Usuario" disabled="disabled"/></td>
								</tr>
								<tr>
									<td><label for="id_email">Correo Electr&oacute;nico:</label></td> 
									<td><input id="id_email" name="email" value="{{ user.email }}" type="text" validate="email" require="true" label="E-mail" disabled="disabled"/></td>
								</tr>
							</table>
						</td>
						<td>
							<dl style="border-left: 1px solid #EEEEEE; padding: 0 15px">
							<table>
								<tr>
									<td><label for="id_lastname">Apellidos:</label></td>
									<td><input class="required" id="id_last_name" name="last_name" value="{{ user.last_name }}" type="text" disabled="disabled"/></td>
								</tr>
								<tr>
									<td><label for="id_country">Pa&iacute;s:</label></td>
									<td><input class="required" id="id_country" name="country" value="{{ profile.country }}" type="text" disabled="disabled"/></td>
								</tr>
								<tr>
									<td><label for="id_phone">Tel&eacute;fono:</label></td>
									<td><input class="required" id="id_phone" name="phone" value="{{ profile.phone }}" type="text" disabled="disabled"/></td>
								</tr>
							</table>
							</dl>
						</td>
					</tr>
				</table>
				<a class="btn btn-primary" href="/profiles/edit/" id="profile_update"><i class="icon-edit icon-white"></i>Actualizar datos</a>
				<a class="btn btn-primary" href="/profiles/password/change/" id="password_update"><i class="icon-edit icon-white"></i>Cambiar contrase&ntilde;a</a>
			</form>
		</div>
		<div class="well" style="margin-top: 5px;">{% language "es" %}
			<form id="date_form">
				<table>
					<tr>
						<td>
							<table>
								<tr>
									<td><label for="id_date_joined">Fecha de registro:</label></td>
									<td><input class="required" id="id_date_joined" name="date_joined" value="{{ user.date_joined }}" type="text" disabled="disabled" style="width: 220px;"/></td>
								</tr>
							</table>
						</td>
						<td>
							<table>
								<tr>
									<td><label for="id_date_joined">Tiempo activo:</label></td>
									<td><input class="required" id="id_date_active" name="date_active" value="{{ profile.get_time_active }} d&iacute;as" type="text" disabled="disabled"/></td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</form>{% endlanguage %}
		</div>
		<div class="well">
			<div class="row-fluid">
				<div class="span12">
			    	<div id="contracts_container">
			    	</div>
				</div>
			</div>
		</div>
		<div class="well">
			<div class="row-fluid">
				<div class="span12">
			    	<div id="bonus_container">
			    	</div>
				</div>
			</div>
		</div>
		<div class="well">
			<div class="row-fluid">
				<div class="span12">
			    	<div id="pay_container">
			    	</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		var token = $.cookie('csrftoken');
		
		$('#login_container').load("/accounts/login/");
		$('#profile_update,#password_update,ul.breadcrumb li a').click(function(){
			History.pushState({state:null}, null, this.href);
			return false;
		});
	
		$('#contracts_container').popover({
			'placement':'bottom',
			'html': true,
			'trigger': 'hover',
			'content': 'Debe seleccionar un usuario para cambiar su datos',
			'delay': { show: 500, hide: 100 }
		});
		
		$("#contracts_container").datatable({
			title: 'Productos/Servicios Contratados',
		    url: '/products/contracts.json',
		    post:{
				'csrfmiddlewaretoken': token
		    },
		    buttons: [
				{ href:"#", id:"editBtn", cls: 'btn-primary', iconCls:"icon-shopping-cart icon-white", label: "Realizar Pago", click: function(e){
					var records = $("#contracts_container").datatable("getSelected");
					if(records.length > 0){
						History.pushState({
				    		state:null, params: {
					    		'csrfmiddlewaretoken': token
					    	}, type: 'post'
						}, null, '/products/pay/'+records[0].id+'/');
					} else{
						$('#contracts_container').popover('show');
					}
					return false;
				}},
		        { href:"#", id:"editBtn", cls: 'btn-success', iconCls:"icon-share", label: "Detalles", click: function(e){
		        	var records = $("#contracts_container").datatable("getSelected");
		        	if(records.length > 0){
			    		History.pushState({
				    		state:null, params: {
					    		'csrfmiddlewaretoken': token
					    	}, type: 'post'
						}, null, '/products/contract/'+records[0].id+'/');
		        	} else{
						$('#contracts_container').popover('show');
					}
		    		return false;
			    }},
			    { href:"#", id:"editBtn", cls: 'btn', iconCls:"icon-ban-circle", label: "Eliminar", click: function(e){
		        	var records = $("#contracts_container").datatable("getSelected");
		        	if(records.length > 0){
			    		History.pushState({
				    		state:null, params: {
				    			'id': records[0].id,
					    		'csrfmiddlewaretoken': token
					    	}, type: 'post'
						}, null, '/products/contract/cancel.html');
		        	} else{
						$('#contracts_container').popover('show');
					}
		    		return false;
			    }}
			],
		    showFooter: false,
		    showPagination: false,
		    columns: [
				{ title: "", field: "id", hidden: true },
		        { title: "Producto", sortable: true, field: "product", filter: true },
		        { title: "Estado", sortable: true, field: "state" },
		        { title: "Cantidad abonada", sortable: false, field: "ammount", filter: true, css: { textAlign: 'right'}},
		        { title: "Fecha de Inicio", sortable: false, field: "init_date", filter: true, css: { textAlign: 'right'}},
		        { title: "Fecha de Vencimiento", sortable: false, field: "end_date", filter: true, css: { textAlign: 'right'}},
		        { title: "Meses",sortable: false, field: "months", css: { textAlign: 'right'}},
		        { title: "", field: 'link1', css: {width: 30}, callback: function(data, column){
		        	var pay = $('<a href="/products/pay/'+data["id"]+'/" class="btn btn-mini btn-primary" title="Realizar Pago"><i class="icon-shopping-cart icon-white"/></a>');
		        	pay.click(function(){
		        		History.pushState({
				    		state:null, params: {
					    		'csrfmiddlewaretoken': token
					    	}, type: 'post'
						}, null, '/products/pay/'+data["id"]+'/');
		        		return false;
		        	});
		        	return pay;
		        }},
		        { title: "", field: 'link2', css: {width: 30}, callback: function(data, column){
		        	var details = $('<a href="/products/instance/'+data["id"]+'/" class="btn btn-mini btn-success" title="Detalles"><i class="icon-edit"/></a>');
		        	details.click(function(){
		        		History.pushState({
				    		state:null, params: {
					    		'csrfmiddlewaretoken': token
					    	}, type: 'post'
						}, null, '/products/contract/'+data["id"]+'/');
		        		return false;
		        	});
		        	return details;
		        }},
		        { title: "", field: 'link3', css: {width: 30}, callback: function(data, column){
		        	var remove = $('<a href="/products/instance/cancel.html" class="btn btn-mini" title="Eliminar"><i class="icon-remove"/></a>');
		        	remove.click(function(){
		        		History.pushState({
				    		state:null, params: {
				    			'id': data["id"],
					    		'csrfmiddlewaretoken': token
					    	}, type: 'post'
						}, null, '/products/contract/cancel.html');
		        		return false;
		        	});
		        	return remove;
		        }}
		    ]
		});
	
		$("#bonus_container").datatable({
			title: 'Bonificaciones de Productos',
		    url: '/profiles/bonus.json',
		    post:{
				'csrfmiddlewaretoken': token
		    },
		    showFooter: false,
		    showPagination: false,
		    columns: [
				{ title: "", field: "id", hidden: true },
		        { title: "Producto", sortable: true, field: "product", filter: true },
		        { title: "Fecha de Inicio", sortable: false, field: "init", filter: true, css: { textAlign: 'right'}},
		        { title: "Fecha de Vencimiento", sortable: false, field: "end", filter: true, css: { textAlign: 'right'}},
		        { title: "Activo", sortable: true, filter: true, field: "active" }
		    ]
		});
	
		$("#pay_container").datatable({
			title: 'Transacciones de Pago',
		    url: '/profiles/payments.json',
		    post:{
				'csrfmiddlewaretoken': token
		    },
		    showFooter: false,
		    showPagination: false,
		    columns: [
				{ title: "", field: "id", hidden: true },
		        { title: "Producto", sortable: true, field: "product", filter: true },
		        { title: "Cantidad", sortable: true, field: "ammount", filter: true },
		        { title: "Origen de Pago", sortable: true, field: "source", filter: true },
		        { title: "Fecha de Pago", sortable: false, field: "pay_date", filter: true, css: { textAlign: 'right'}}
		    ]
		});

		$('ul.breadcrumb li a').click(function(e) {
			History.pushState({state:this}, null, this.href);
			return false;
		});
	</script>