{% extends "main_template.html" %}
{% block content%}

<script>
 $(document).ready(function() {
   $("#profile").addClass("active");
 });
</script>

<div class="description">
    <h2>Profile Details:</h2>
</div>
 
Add here
 
{% endblock %}