<html>
	<body>
		<h2>Estimado {{ contract.profile.user.get_full_name }}</h2>
		<p>Su contrato para nuestro Producto {{ contract.product.name }} en Eloquentia Solutions ha sido configurado correctamente. Se han generado las siguientes instancias de Producto:</p>
		{% for intance in contract.instances.all %}
			<div>
				<table>
					<tr>
						<td><label for="id_name">Nombre: </label></td>
						<td><span id="id_name">{{ instance.db_name }}</span></td>
					</tr>
					<tr>
						<td valign="top" align="right"><a href="{{ url_openerp }}/?app={{ instance.db_name }}" class="btn" title="Haga clic en el enlace para acceder a su Instancia" target="_blank">Acceso Directo</a></td>
						<td><label for="id_state">Estado:</label><span id="id_state">{{ instance.state }}</span></td>
					</tr>
				</table>
			</div>
			<div>
				<table>
					<tr>
						<td>Usuarios</td>
					</tr>
				{% for no_user in instance.users.all %}
					<tr>
						<td>
							<table>
								<tr>
									<td>Nombre de Usuario{% if no_user.app_admin %}(Administrador){% endif %}:</td>
									<td>{{ no_user.username }}</td>
								</tr>
								<tr>
									<td>Contrase&ntilde;a:</td>
									<td>{{ no_user.password }}</td>
								</tr>
							</table>
						</td>
					</tr>
				{% endfor %}
				</table>
			</div>
			<hr>
		{% endfor %}
		<p>Este contrato terminar&aacute; el d&iacute;a {{ contract.end_date }}. Llegado este momento dispone de un mes para reactivar el mismo antes de que se bloque el acceso a sus instancias, no se preocupe por sus datos puesto que los mantendremos en nuestro sistema para que los tenga disponibles nuevamente cuando lo desee.</p>
	</body>
</html>