<html>
	<body>
		<h2>Estimado {{ contract.profile.user.get_full_name }}</h2>
		<p>Su contrato para nuestro Producto {{ contract.product.name }} en 
		Eloquentia Solutions est&aacute; a punto de expirar. Llegado este 
		momento dispone de un mes para reactivar el mismo antes de que se 
		bloque el acceso a sus instancias, no se preocupe por sus datos puesto 
		que los mantendremos en nuestro sistema para que los tenga disponibles 
		nuevamente cuando lo desee.</p>
	</body>
</html>