<html>
	<body>
		<h2>Estimado {{ contract.profile.user.get_full_name }}</h2>
		<p>Su contrato para nuestro Producto {{ contract.product.name }} en Eloquentia 
		Solutions ha sido configurado correctamente. Se han generado las siguientes instancias de Producto:</p>
		{% for intance in contract.instances.all %}
			<div>
				<table>
					<tr>
						<td><label for="id_name">Nombre:</label></td>
						<td><span>{{ instance.db_name }}</span></td>
						<td valign="top" align="right"><a href="{{ url_openerp }}/?app={{ instance.db_name }}" class="btn" title="Haga clic en el enlace para acceder a su Instancia" target="_blank">Enlace</a></td>
						<td><label for="id_state">Estado:</label><span id="id_state">{{ instance.state }}</span></td>
					</tr>
				</table>
			</div>
		{% endfor %}
		<p>Estas instancias se encuentran accessible mediante los usuarios que usted mismo previamente configuro y se puede acceder a las mismas en sus correspondientes direcciones URL</p>
		<p>Este contrato terminar&aacute; el d&iacute;a {{ contract.end_date }}. Llegado este momento dispone de un mes para reactivar el mismo antes de que se bloque el acceso a sus instancias, no se preocupe por sus datos puesto que los mantendremos en nuestro sistema para que los tenga disponibles nuevamente cuando lo desee.</p>
	</body>
</html>