<html>
	<body>
		<h2>Estimado {{ name }}</h2>
		<p>{{ user.get_full_name }} le ha enviado una invitaci&oacute;n para nuestro Producto {{ product.name }} en Eloquentia Solutions</p>
		<p>Esta invitaci&oacute;n es una promoci&oacute;n que permite obtener bonificaciones a los usuarios que invitan a otros la cual entra en vigor una ves que usted adquiera el producto que se le indica</p>
		<p>Para obtener m&aacute;s detalles de este Producto puede ingresar en nuestro sitio web <a href="http://eloquentia.com.mx/products/{{ product.slug }}">http://eloquentia.com.mx/products/{{ product.slug }}</a></p>
	</body>
</html>