{% load i18n %}
{% if request.user.is_authenticated %}
	<div class="tipsy-container">
      	<div id="topnav_register" class="topnav">
      		<a href="/profiles/{{ user }}/" class="signin" id="profile_view"><span>Perfil de {{ user.get_full_name }}</span></a>
      		<a href="/accounts/logout/" class="signin" id="logout_view"><span>Salir</span></a>
      	</div>
    </div>
    <script type="text/javascript">
    	//$('.center_content').load("../profiles/{{ user }}/");
		$("#profile_view").click(function(e) {
			e.preventDefault();
			History.pushState({state:null}, null, this.href);
			//$('.center_content').load(this.href);
		});
		$("#logout_view").click(function(e) {
			e.preventDefault();
			$('.center_content').load(this.href);
		});
	</script>

{% else %}
	{% if form.errors %}
		<div tabindex="-1" class="modal hide fade" id="login-failed-modal" style="display: none; margin-top: -128.5px;" aria-hidden="true">
			<div class="modal-header">
				<button aria-hidden="true" data-dismiss="modal" class="close" type="button">x</button>
				<h4>Error de acceso</h4>
			</div>
			<div class="modal-body" data-replace="true">
				<p>Las credenciales de acceso proporcionadas no son correctas. Por favor int&eacute;ntelo nuevamente</p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
			</div>
		</div>
		<script type="text/javascript">
			$('#login-failed-modal').on('hidden', function () {
				$('#signin_login').click();
			});
			var login_failed = $('#login-failed-modal');
			login_failed.modal();
		</script>
	{% else %}
	<div class="tipsy-container">
		<div id="topnav_register" class="topnav"> <a href="/accounts/register/" class="signin"><span>Registrarse aqu&iacute;</span></a> </div>
	</div>
   	<div class="tipsy-container" id="tipsy_signin_login">
		<div id="topnav" class="topnav" style="padding-right: 2px;"> &iquest;Eres un Usuario? <a href="" class="signin" id="signin_login"><span>Entrar aqu&iacute;</span></a> </div>
		<fieldset class="well signin_menu" id="signin_menu_login" style="width: 297px;">
			<form method="post" action="{% url 'django.contrib.auth.views.login' %}" id="login_form">
			{% csrf_token %}
				<table>
					<tr>
						<td><label for="username">Usuario:</label></td>
						<td><input id="id_username" name="username" value="" title="username" tabindex="4" type="text" maxlength="254"></td>
					</tr>
					<tr>
						<td><label for="password">Contrase&ntilde;a:</label></td>
						<td><input id="id_password" name="password" value="" title="password" tabindex="5" type="password"></td>
					</tr>
				</table>

				<input value="Entrar" tabindex="6" type="submit" class="btn btn-primary">
				<input type="hidden" name="next" value="{{ next }}" />
				<p class="forgot" id="forgot_username_link"> <a href="/profiles/password/reset/" id="resend_password_link">Olvido su contrase&ntilde;a?</a> </p>
			</form>
		</fieldset>
	</div>

	<script type="text/javascript">

		$("#signin_login").click(function(e) {
			e.preventDefault();
		    $("fieldset#signin_menu_login").toggle();
			$("#signin_login").toggleClass("menu-open");
			return false;
		});
		$("fieldset#signin_menu").mouseup(function() {
			return false;
		});
		$(document).mouseup(function(e) {
			if($(e.target).parents("div#tipsy_signin_login").length==0) {
				$("#signin_login").removeClass("menu-open");
				$("fieldset#signin_menu_login").hide();
			}
		});
		//$('#forgot_username_link').tipsy({gravity: 'w'});
		$('#topnav_register a').click(function(e) {
			e.preventDefault();
			History.pushState({state:null}, null, this.href);
			//$('#'+menuItem).removeClass('selected');
			//menuItem = $(this).parent().attr('id');
			//document.location.href = '#'+menuItem;
			//$('#'+menuItem).addClass('selected');
		});
		$('#login_form').submit(function(){
			$("fieldset#signin_menu_login").toggle();
			$("#signin_login").toggleClass("menu-open");

			$.ajax({
				type: 'post',
				url: $('#login_form').attr('action'),
				data: $('#login_form').serialize(),
				success: function(response) {
					$('#login_container').html(response);
					$('#login_container').load("/accounts/login/");
				}
			});
			return false;
		});
		{% if form.errors %}
			$("fieldset#signin_menu_login").toggle();
			$("#signin_login").toggleClass("menu-open");
		{% endif %}

		$("#resend_password_link").click(function(e) {
			$("fieldset#signin_menu_login").toggle();
			$("#signin_login").toggleClass("menu-open");
			History.pushState({state:null}, null, this.href);
			return false;
		});

	</script>
	{% endif %}
{% endif %}