<html>
	<body>
		<div>
			<p>Estimado {{ user.full_name }}</p>
			<p>Para realizar el cambio de su contrase&ntilde;a de acceso 
			haga clic en el siguiente vinculo: </p>
			<p>{{ protocol }}://{{ site_name }}/accounts/password/reset/confirm/{{ uid }}-{{ token }}</p>
		</div>
	</body>
</html>