	<div tabindex="-1" class="modal hide fade" id="password_reset_modal" style="display: none; margin-top: -128.5px;" aria-hidden="true">
		<div class="modal-header">
			<button aria-hidden="true" data-dismiss="modal" class="close" type="button">x</button>
			<h4>Su Contrase&ntilde;a ha sido cambiada correctamente.</h4>
		</div>
		<div class="modal-body" data-replace="true">
			<p>Puede continuar y autenticarse en el sitio</p>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
		</div>
	</div>
	<script type="text/javascript">
		var password_reset = $('#password_reset_modal');
		password_reset.modal();
	</script>