{% if validlink %}
	<div class="well">
	    <form action="{{ request.path }}" method="post" id="reset_form" title="Por favor introduzca dos veces su nueva contrase&ntilde;a para poder verificarla correctamente">
	        <div style="display:none">
	            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
	        </div>
	        <table>
	            <tr>
	                <td>{{ form.new_password1.errors }}
	                    <label for="id_new_password1">Nueva contrase&ntilde;a:</label></td>
	                <td>{{ form.new_password1 }}</td>
	            </tr>
	            <tr>
	                <td>{{ form.new_password2.errors }}
	                    <label for="id_new_password2">Confirmar nueva contrase&ntilde;a:</label></td>
	                <td>{{ form.new_password2 }}</td>
	            </tr>
	        </table>
	        <input type="submit" value="Aceptar" />
	    </form>
	</div>
    <script type="text/javascript">
	    $('#reset_form').submit(function(){
			$.ajax({
				type: 'post',
				url: $('#reset_form').attr('action'),
				data: $('#reset_form').serialize(),
				success: function(response) {
					//History.pushState({state:null}, null, "/accounts/profile/");
					$('.center_content').html(response);
				}
			});
			return false;
		});
	</script>
{% else %}
	<div tabindex="-1" class="modal hide fade" id="password_reset_modal" style="display: none; margin-top: -128.5px;" aria-hidden="true">
		<div class="modal-header">
			<button aria-hidden="true" data-dismiss="modal" class="close" type="button">x</button>
			<h4>No se puede cambiar las credenciales de acceso</h4>
		</div>
		<div class="modal-body" data-replace="true">
			<p>El v&iacute;nculo para el cambio de la contrase&ntilde;a no es v&aacute;lido, es posible que halla sido utilizado anteriormente o este caducado. <br />Por favor solicite nuevamente el cambio de contrase&ntilde;a.</p>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
		</div>
	</div>
	<script type="text/javascript">
		var password_reset = $('#password_reset_modal');
		password_reset.modal();
	</script>
{% endif %}