{% load l10n %}
{% load expr %}

	{% if form.errors %}
		{{ form.errors }}
	{% endif %}
	<div class="well">
		<form method="post" action="/accounts/register/" id="registration_form"  title="Registrese aqu&iacute;" subtitle="Llene todos los campos del formulario">
			{% csrf_token %}
			<table>
				<tr>
					<td>
						<table>
							<tr>
								<td><label for="id_username">Nombre de Usuario:</label></td> 
								<td><input id="id_username" maxlength="30" name="username" type="text" require="true" label="Nombre de Usuario"/></td>
							</tr>
							<tr>	
								<td><label for="id_email">Correo Electr&oacute;nico:</label></td> 
								<td><input id="id_email" name="email" type="text" validate="email" require="true" label="E-mail"/></td>
							</tr>
							<tr>
								<td><label for="id_password1">Contrase&ntilde;a:</label></td> 
								<td><input id="id_password1" name="password1" type="password" require="true" label="Contrase&ntilde;a"/></td>
							</tr>
							<tr>
								<td><label for="id_password2">Confirmar Contrase&ntilde;a:</label></td> 
								<td><input id="id_password2" name="password2" type="password" require="true" /></td>
							</tr>
						</table>
					</td>
					<td>
						<table>
							<tr>
								<td><label for="id_name">Nombre:</label></td>
								<td><input class="required" id="id_first_name" name="first_name" type="text" /></td></tr>
							<tr>
								<td><label for="id_lastname">Apellidos:</label></td>
								<td><input class="required" id="id_last_name" name="last_name" type="text" /></td>
							</tr>
							<tr>
								<td><label for="id_country">Pa&iacute;s:</label></td>
								<td>
									<select class="required" id="id_country" name="country" style="width: 220px; margin-bottom:10px;">
										<option value=""></option>
									{% for country in countries %}
										 <option value="{% expr country[0] as sig %}{{ sig }}" {% if profile.country == sig %}selected="selected"{% endif %}>{% expr country[1] as county %}{{ county|localize}}</option>
									{% endfor %} 
									</select>
								</td>
							</tr>
							<tr>
								<td><label for="id_phone">Tel&eacute;fono:</label></td>
								<td><input class="required" id="id_phone" name="phone" type="text" /></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<input type="submit" value="Registrarse" class="btn btn-primary"/>
		</form>
	</div>
	<script type="text/javascript">
		$('#registration_form').submit(function(){
			$.ajax({
				type: 'post',
				url: $('#registration_form').attr('action'),
				data: $('#registration_form').serialize(),
				success: function(response) {
					$('.center_content').html(response);
					$('#login_container').load("/accounts/login/");
				}
			});
			return false;
		});
		function format(country) {
            if (!country.id) return country.text; // optgroup
            return "<img class='flag' src='{{ STATIC_URL }}flags/" + country.id.toLowerCase() + ".gif'/>&nbsp;" + country.text;
        }
        $("#id_country").select2({
            formatResult: format,
            formatSelection: format,
            escapeMarkup: function(m) { return m; }
        });
	</script>
