	<div tabindex="-1" class="modal hide fade" id="demo_modal" style="display: none; margin-top: -128.5px;" aria-hidden="true">
		<div class="modal-header">
			<button aria-hidden="true" data-dismiss="modal" class="close" type="button">x</button>
			<h4>Informaci&oacute;n</h4>
		</div>
		<div class="modal-body" data-replace="true">
			<p>Recibira informacion por correo electronico</p>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
		</div>
	</div>
	<script type="text/javascript">
		var demo_modal = $('#demo_modal');
		demo_modal.modal();
	</script>
