	<ul class="breadcrumb">
	    <li><a href="/profiles/{{ user }}/">Perfil</a><span class="divider">/</span></li>
	    <li class="active"><a href="/products/contract/{{ contract.id }}/">Contrato para el Producto {{ contract.product.name }}</a></li>
    </ul>
	<div class="well">
		<h2>Contrato para el Producto {{ contract.product.name }}</h2>
		<center>
			<img src="{{ MEDIA_URL }}{{ contract.product.icon }}" style="height:256px; width:256px;"/>
		</center>
		<hr>
		<form method="POST" action="" id="contract_form" title="Mi Perfil">
			<table>
				<tr>
					<td>
						<table>
							<tr>
								<td><label for="id_name">Nombre:</label></td>
								<td><input class="required" id="id_first_name" value="{{ contract.profile.user.first_name }}" name="first_name" type="text" disabled="disabled"/></td></tr>
							<tr>
							<tr>
								<td><label for="id_username">Nombre de Usuario:</label></td>
								<td><input id="id_username" maxlength="30" value="{{ contract.profile.user.username }}" name="username" type="text" require="true" label="Nombre de Usuario" disabled="disabled"/></td>
							</tr>
							<tr>
								<td><label for="id_email">Correo Electr&oacute;nico:</label></td>
								<td><input id="id_email" name="email" value="{{ contract.profile.user.email }}" type="text" validate="email" require="true" label="E-mail" disabled="disabled"/></td>
							</tr>
							<tr>
								<td><label for="id_date_joined">Inicio del Contrato:</label></td>
								<td><input class="required" id="id_init_date" name="init_date" value="{{ contract.init_date }}" type="text" disabled="disabled"/></td>
							</tr>
							<tr>
								<td><label for="id_state">Estado:</label></td>
								<td><input class="required" id="id_state" name="init_date" value="{{ contract.get_state_display }}" type="text" disabled="disabled"/></td>
							</tr>
							<tr>
								<td><label for="id_price">Precio:</label></td>
								<td><input id="id_price" name="price" value="{{ contract.price }}" type="text" disabled="disabled"/></td>
							</tr>
						</table>
					</td>
					<td>
						<dl style="border-left: 1px solid #EEEEEE; padding: 0 15px">
						<table>
							<tr>
								<td><label for="id_lastname">Apellidos:</label></td>
								<td><input class="required" id="id_last_name" name="last_name" value="{{ contract.profile.user.last_name }}" type="text" disabled="disabled"/></td>
							</tr>
							<tr>
								<td><label for="id_country">Pa&iacute;s:</label></td>
								<td><input class="required" id="id_country" name="country" value="{{ contract.profile.country }}" type="text" disabled="disabled"/></td>
							</tr>
							<tr>
								<td><label for="id_phone">Tel&eacute;fono:</label></td>
								<td><input class="required" id="id_phone" name="phone" value="{{ contract.profile.phone }}" type="text" disabled="disabled"/></td>
							</tr>
							<tr>
								<td><label for="id_date_joined">Fin del Contrato:</label></td>
								<td><input id="id_end_date" name="end_date" value="{{ contract.end_date }}" type="text" disabled="disabled"/></td>
							</tr>
							<tr>
								<td><label for="id_ammount">Cantidad Abonada:</label></td>
								<td><input id="id_ammount" name="ammount" value="{{ contract.ammount }}" type="text" disabled="disabled"/></td>
							</tr>
							<tr>
								<td><label for="id_discount">Descuento:</label></td>
								<td><input id="id_discount" name="discount" value="{{ contract.discount }}" type="text" disabled="disabled"/></td>
							</tr>
						</table>
						</dl>
					</td>
				</tr>
			</table>
			<a class="btn btn-primary" href="/products/plan_buy.html" id="contract_pay"><i class="icon-shopping-cart icon-white"></i>Realizar Pago</a>
			{% if contract.state != 'extra' and contract.state != 'cancel' %}
			<a class="btn" href="#ajax-modal" data-toggle="modal"><i class="icon-ban-circle"></i>Cancelar Contrato</a>
			{% endif %}
			{% if contract.state == 'draft' or contract.state == '' %}
			<a class="btn btn-success" href="/products/contract_demo.html" id="contract_demo"><i class="icon-search"></i>Probar Contrato</a>
			{% endif %}
		</form>
	</div>
	{% if contract.state != 'extra' and contract.state != 'cancel' %}
	<div tabindex="-1" class="modal hide fade" id="ajax-modal" style="display: none; margin-top: -128.5px;" aria-hidden="true">
		<div class="modal-header">
			<button aria-hidden="true" data-dismiss="modal" class="close" type="button">x</button>
			<h4>Confirmaci&oacute;n</h4>
		</div>
		<div class="modal-body" data-replace="true">
			<p>&iquest;Est&aacute; seguro que desea cancelar el Contrato?
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" id="contract_cancel" >Si</button>
			<button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
		</div>
	</div>
	{% endif %}
	<div class="well">
		<div class="row-fluid">
			<div class="span12">
		    	<div id="grid_container">
		    	</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		var token = $.cookie('csrftoken');
		$('#contract_pay').click(function(){
			History.pushState({
	    		state:null, params: {
		    		'csrfmiddlewaretoken': token
		    	}, type: 'post'
			}, null, '/products/pay/{{ contract.id }}/');
			return false;
		});

		$('#grid_container').popover({
			'placement':'bottom',
			'html': true,
			'trigger': 'hover',
			'content': 'Debe seleccionar una instancia para cambiar su configuraci&oacute;n',
			'delay': { show: 500, hide: 100 }
		});

		{% if contract.state != 'extra' and contract.state != 'cancel' %}
		$('#contract_cancel').click(function(){
			$.blockUI({ message: '<h4><img src="{{ STATIC_URL }}img/ajax-loader.gif" /> Cancelando instancia...</h4>'});
			$.ajax({
				type: 'post',
				url: '/products/contract/cancel.html',
				data: {id: '{{ contract.id }}', 'csrfmiddlewaretoken': token},
				success: function(response) {
					$('#ajax-modal').modal("hide");
					$('.center_content').html(response);
				}
			});

			return false;
		});
		{% endif %}
		{% if contract.state == 'draft' or contract.state == '' %}
		$('#contract_demo').click(function(){
			$.blockUI({ message: '<h4><img src="{{ STATIC_URL }}img/ajax-loader.gif" /> Generando instancia de prueba...</h4>'});
			$.ajax({
				type: 'post',
				url: '/products/contract_demo.html',
				data: {id: '{{ contract.id }}', 'csrfmiddlewaretoken': token},
				success: function(response) {
					$.unblockUI();
					$('.center_content').html(response);
				},
				error:function(response) {
					alert('error');
					$.unblockUI();
				}
			});

			return false;
		});
		{% endif %}

		$("#grid_container").datatable({
			title: 'Instancias del Producto',
		    url: '/products/instances.json',
		    post:{
				'csrfmiddlewaretoken': token,
				'id': '{{ contract.id }}'
		    },
		    buttons: [
		    	{ href:"#", id:"editBtn", cls: 'btn-primary', iconCls:"icon-share", label: "Acceso Directo", click: function(e){
		        	var records = $("#grid_container").datatable("getSelected");
		        	if(records.length > 0){
			    		this.href = "{{ url_openerp }}/?app="+records[0].db_name;
			    		this.target='_blank';
		        	} else{
						$('#grid_container').popover('show');
						return false;
					}
			    }},
		        { href:"#", id:"editBtn", cls: 'btn-success', iconCls:"icon-edit", label: "Detalles", click: function(e){
		        	var records = $("#grid_container").datatable("getSelected");
		        	if(records.length > 0){
			    		History.pushState({
				    		state:null, params: {
					    		'csrfmiddlewaretoken': token
					    	}, type: 'post'
						}, null, '/products/instance/'+records[0].id+'/');
		        	} else{
						$('#grid_container').popover('show');
					}
		    		return false;
			    }},
			    { href:"#", id:"editBtn", cls: 'btn', iconCls:"icon-remove", label: "Eliminar", click: function(e){
		        	var records = $("#grid_container").datatable("getSelected");
		        	if(records.length > 0){
			    		History.pushState({
				    		state:null, params: {
				    			'id': records[0].id,
					    		'csrfmiddlewaretoken': token
					    	}, type: 'post'
						}, null, '/products/instance/cancel.html');
		        	} else{
						$('#grid_container').popover('show');
					}
		    		return false;
			    }}
			],
		    showPagination: false,
		    columns: [
				{ title: "", field: "id", hidden: true },
		        { title: "Nombre", sortable: true, field: "db_name", filter: true },
		        { title: "", field: 'link1', css: {width: 30}, callback: function(data, column){
		        	var link = $('<a href="{{ url_openerp }}/?app='+data["db_name"]+'" class="btn btn-mini btn-primary" target="_blank" title="Acceso Directo"><i class="icon-share"/></a>');
		        	return link;
		        }},
		        { title: "", field: 'link2', css: {width: 30}, callback: function(data, column){
		        	var details = $('<a href="/products/instance/'+data["id"]+'/" class="btn btn-mini btn-success" title="Detalles"><i class="icon-edit"/></a>');
		        	details.click(function(){
		        		History.pushState({
				    		state:null, params: {
					    		'csrfmiddlewaretoken': token
					    	}, type: 'post'
						}, null, '/products/instance/'+data["id"]+'/');
		        		return false;
		        	});
		        	return details;
		        }},
		        { title: "", field: 'link3', css: {width: 30}, callback: function(data, column){
		        	var remove = $('<a href="/products/instance/cancel.html" class="btn btn-mini" title="Eliminar"><i class="icon-remove"/></a>');
		        	remove.click(function(){
		        		History.pushState({
				    		state:null, params: {
				    			'id': data["id"],
					    		'csrfmiddlewaretoken': token
					    	}, type: 'post'
						}, null, '/products/instance/cancel.html');
		        		return false;
		        	});
		        	return remove;
		        }}
		    ]
		});

		$('ul.breadcrumb li a').click(function(e) {
			History.pushState({state:null}, null, this.href);
			return false;
		});
	</script>