
	<div class="well">
		<h2>Contrato para el Producto {{ contract.product.name }}</h2>
		<hr>
		<form method="POST" action="" id="contract_form" title="Mi Perfil">
			<table>
				<tr>
					<td>
						<table>
							<tr>
								<td><label for="id_name">Nombre:</label></td>
								<td><input class="required" id="id_first_name" value="{{ contract.profile.user.first_name }}" name="first_name" type="text" disabled="disabled"/></td></tr>
							<tr>
							<tr>
								<td><label for="id_username">Nombre de Usuario:</label></td> 
								<td><input id="id_username" maxlength="30" value="{{ contract.profile.user.username }}" name="username" type="text" require="true" label="Nombre de Usuario" disabled="disabled"/></td>
							</tr>
							<tr>
								<td><label for="id_email">Correo Electr&oacute;nico:</label></td> 
								<td><input id="id_email" name="email" value="{{ contract.profile.user.email }}" type="text" validate="email" require="true" label="E-mail" disabled="disabled"/></td>
							</tr>
							<tr>
								<td><label for="id_date_joined">Inicio del Contrato:</label></td>
								<td><input class="required" id="id_contract_init" name="contract_init" value="{{ contract.contract_init }}" type="text" disabled="disabled"/></td>
							</tr>
						</table>
					</td>
					<td>
						<dl style="border-left: 1px solid #EEEEEE; padding: 0 15px">
						<table>
							<tr>
								<td><label for="id_lastname">Apellidos:</label></td>
								<td><input class="required" id="id_last_name" name="last_name" value="{{ contract.profile.user.last_name }}" type="text" disabled="disabled"/></td>
							</tr>
							<tr>
								<td><label for="id_country">Pa&iacute;s:</label></td>
								<td><input class="required" id="id_country" name="country" value="{{ contract.profile.country }}" type="text" disabled="disabled"/></td>
							</tr>
							<tr>
								<td><label for="id_phone">Tel&eacute;fono:</label></td>
								<td><input class="required" id="id_phone" name="phone" value="{{ contract.profile.phone }}" type="text" disabled="disabled"/></td>
							</tr>
							<tr>
								<td><label for="id_date_joined">Fin del Contrato:</label></td>
								<td><input id="id_contract_end" name="contract_end" value="{{ contract.contract_end }}" type="text" disabled="disabled"/></td>
							</tr>
						</table>
						</dl>
					</td>
				</tr>
			</table>
			<a class="btn btn-primary" href="/products/plan_buy.html" id="contract_update">Realizar Pago</a>
			<a class="btn btn-primary" href="/products/contract_cancel.html" id="contract_cancel">Cancelar Contrato</a>
		</form>
	</div>
	
	<div class="well">
		<div class="row-fluid">
			<div class="span12">
		    	<div id="grid_container">
		    	</div>
			</div>
		</div>
	</div>
	
	<script type="text/javascript">
		$('#contract_update').click(function(){
			alert(1);
		});
		$("#grid_container").datatable({
			title: 'Instancias del Producto',
		    url: '/products/instances.json',
		    post:{
				'csrfmiddlewaretoken': $.cookie('csrftoken'),
				'id': '{{ contract.id }}' 
		    },
		    buttons: [
		        { href:"#", id:"editBtn", cls: 'btn-success', iconCls:"icon-edit", label: "Editar", click: function(e){
		        	var records = $("#grid_container").datatable("getSelected");
		        	if(records.length > 0){
			    		History.pushState({
				    		state:null, params: {
					    		id: records[0].id, 
					    		'csrfmiddlewaretoken': $.cookie('csrftoken')
					    	}, type: 'post'
						}, null, '/products/instance.html');
		        	}
		    		return false;
			    }}
			],
		    showFooter: true,
		    showPagination: false,
		    columns: [
				{ title: "", field: "id", hidden: true },
		        { title: "Nombre", sortable: true, field: "db_name", filter: true }
		    ]
		});
		
	</script>