{% load i18n %}
	<ul class="breadcrumb">
	    <li><a href="/products.html">Productos</a><span class="divider">/</span></li>
	    <li class="active"><a href="/products/{{ product.slug }}">{{ product.name }}</a></li>
    </ul>
	<div class="well">
		<h1>{{ product.name }}</h1>
		<form class="product_form">
			<table style="width: 100%;">
				<tr>
					<td style="width:256px;" valign="top">
						<img class="left_img" src="{{ MEDIA_URL }}{{ product.icon }}" style="height:256px; width:256px;"/>
					</td>
					<td style="width:70%;">
						<div class="carousel slide slideshow">
					      <div class="carousel-inner">
					      	{% for image in product.images.all %}
					        <div class="item{% if forloop.first %} active{% endif %}">
					          <img src="{{ MEDIA_URL }}{{ image.image }}" data-thumb="{{ MEDIA_URL }}{{ image.image }}" alt="" height="296"/>
					        </div>
					        {% endfor %}
					      </div>
					      <a class="left carousel-control" href="#slideshow" data-slide="prev">&lsaquo;</a>
					      <a class="right carousel-control" href="#slideshow" data-slide="next">&rsaquo;</a>
					    </div>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						{{ product.description|safe }}
					</td>
				</tr>
			</table>

			<br>
			<div class="row-fluid">
				<div class="span12">
			    	<div id="grid_container">
			    	</div>
				</div>
			</div>

			<br>
			<div align="center">
				<a class="btn btn-success" href="{{ product.url_video }}" target="_blank"><i class="icon-film"></i>Video</a>
				<a class="btn btn-success" href="{{ product.url_demo }}" target="_blank"><i class="icon-picture"></i>Demo</a>

				<a class="btn btn-success product_contact" href="/contact.html" role="button"
					data-toggle="modal" data-target="#modal_div" title="Cont&aacute;ctenos para solicitar un producto ajustado a sus necesidades"><i class="icon-fullscreen"></i>Cotizar</a>

				<a class="btn btn-success product_share" href="/products/share.html?product={{ product.id }}"
					data-toggle="modal" data-target="#modal_div" role="button" title="Invite a sus amigos"><i class="icon-envelope"></i>Compartir</a>
				<div class="btn-group" align="left">
					<a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-download-alt"></i>Descargas<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="{{ MEDIA_URL }}{{ product.ficha }}" target="_blank"><i class="icon-list-alt"></i>Ficha T&eacute;cnica</a></li>
						<li><a href="{{ MEDIA_URL }}{{ product.ppt }}" target="_blank"><i class="icon-picture"></i>Presentaci&oacute;n</a></li>
						<li><a href="{{ MEDIA_URL }}{{ product.manual }}" target="_blank"><i class="icon-book"></i>Manual</a></li>
						<li><a href="{{ MEDIA_URL }}{{ product.src }}" target="_blank"><i class="icon-share"></i>C&oacute;digo Fuente</a></li>
					</ul>
				</div>
			</div>
			<div tabindex="-1" class="modal hide fade" id="ajax-modal" style="display: none; margin-top: -128.5px;" aria-hidden="true">
				<div class="modal-header">
					<button aria-hidden="true" data-dismiss="modal" class="close" type="button">x</button>
					<h4>Informaci&oacute;n</h4>
				</div>
				<div class="modal-body" data-replace="true">

				</div>
			</div>

        </form>
	</div>

	<div style="height: 80px;"></div>

	<div class="clear"></div>
	<script type="text/javascript">
		var $modal = $('#ajax-modal');
		var token = $.cookie('csrftoken');
		$('.slideshow').carousel();

		$('#grid_container').popover({
			'placement':'bottom',
			'html': true,
			'trigger': 'hover',
			'content': 'Debe seleccionar un Plan para realizar la Compra y Configuraci&oacute;n del Producto',
			'delay': { show: 500, hide: 100 }
		});

		$('.product_contact').click(function(e){
			$modal.find('.modal-header h4').html(this.title);
			$modal.find('.modal-body').load(this.href, 'modal=true', function(){
				$modal.modal({width: 800});
			});
			return false;
		});
		$('.product_share').click(function(e){
			$modal.find('.modal-header h4').html(this.title);
			$modal.find('.modal-body').load(this.href);
			return false;
		});

		$("#grid_container").datatable({
			title: 'Planes de Compra',
		    perPage: 15,
		    showBottomDetails: false,
		    url: '/products/plans.json',
		    post:{
				'csrfmiddlewaretoken': token,
				'id': {{ product.id }}
		    },
		    buttons: [
				{ href:"#", id:"editBtn", cls: 'btn-primary', iconCls:"icon-shopping-cart icon-white", label: "Comprar", click: function(e){
					var records = $("#grid_container").datatable('getSelected');
					if(records.length > 0){
						$modal.find('.modal-header h4').html("Configure su Producto");
						$modal.find('.modal-body').load('/products/plan_config.html', {id:records[0].id,'csrfmiddlewaretoken': token}, function(){
							$modal.modal({width: 800});
				    	});
					} else{
						$('#grid_container').popover('show');
					}
					return false;
				}}
			],
		    showPagination: true,
		    columns: [
				{ title: "", field: "id", hidden: true },
		        { title: "Instancias", sortable: true, field: "instances", filter: true },
		        { title: "Usuarios", sortable: true, field: "users" },
		        { title: "Precio",sortable: false,field: "price",filter: true, css: { textAlign: 'right'}},
		        { title: "Meses",sortable: false,field: "months",hidden: false, css: { textAlign: 'right'}},
		        { title: "", field: 'link1', css: {width: 30}, callback: function(data, column){
		        	var details = $('<a href="#" class="btn btn-mini btn-primary" title="Comprar"><i class="icon-shopping-cart icon-white"/></a>');
		        	details.click(function(){
		        		$modal.find('.modal-header h4').html("Configure su Producto");
						$modal.find('.modal-body').load('/products/plan_config.html', {id: data["id"],'csrfmiddlewaretoken': csrftoken}, function(){
							$modal.modal({width: 800});
				    	});
		        		return false;
		        	});
		        	return details;
		        }}
		    ]
		});

		$('ul.breadcrumb li a').click(function(e) {
			History.pushState({state:this}, null, this.href);
			return false;
		});
	</script>