{% load i18n %}
	<ul class="breadcrumb">
	    <li><a href="/profiles/{{ user }}/">Perfil</a><span class="divider">/</span></li>
	    <li><a href="/products/contract/{{ instance.contract.id }}/">Contrato para el Producto {{ instance.contract.product.name }}</a><span class="divider">/</span></li>
	    <li class="active"><a href="/products/instance/{{ instance.id }}/">Instancia del Producto {{ instance.contract.product.name }}</a></li>
    </ul>
	<div class="well">
		<h2>Instancia del Producto {{ instance.contract.product.name }}</h2>
		<hr>
		<form method="POST" action="" id="contract_form">
			<table>
				<tr>
					<td><label for="id_name">Nombre:</label></td>
					<td><input class="required" id="id_first_name" value="{{ instance.db_name }}" name="first_name" type="text" disabled="disabled"/></td>
				</tr>
				<tr>
					<td><label for="id_state">Estado:</label></td>
					<td><input class="required" id="id_state" value="{{ instance.state }}" name="state" type="text" disabled="disabled"/></td>
				</tr>
			</table>
			{% if instance.state != 'draft' %}
			<a id="id_url" href="{{ url_openerp }}/?app={{ instance.db_name }}" class="btn btn-primary" title="Haga clic para acceder a su Instancia" target="_blank"><i class="icon-share icon-white"></i>Acceso Directo</a>
			{% endif %}
			{% if instance.state != 'extra' and instance.state != 'cancel' %}
			<a id="instance_cancel" href="/products/instance/cancel.html" class="btn" title="Haga clic para cancelar su Instancia" ><i class="icon-ban-circle"></i>Cancelar Instancia</a>
			{% endif %}
		</form>
	</div>
	
	<div class="well">
		<div class="row-fluid">
			<div class="span12">
		    	<div id="grid_container">
		    	</div>
			</div>
		</div>
	</div>
	
	<script type="text/javascript">
		var token = $.cookie('csrftoken');
		
		{% if instance.state != 'extra' and instance.state != 'cancel' %}
		$('#instance_cancel').click(function(){
			History.pushState({
	    		state:null, params: {
	    			'id': '{{ instance.id }}',
		    		'csrfmiddlewaretoken': token
		    	}, type: 'post'
			}, null, '/products/instance/cancel.html');
			return false;
		});
		{% endif %}
		
		$('#grid_container').popover({
			'placement':'bottom',
			'html': true,
			'trigger': 'hover',
			'content': 'Debe seleccionar un usuario para cambiar su datos',
			'delay': { show: 500, hide: 100 }
		});
		
		$("#grid_container").datatable({
			title: 'Usuarios de la Instancia',
		    url: '/products/users.json',
		    post:{
				'csrfmiddlewaretoken': token,
				'id': '{{ instance.id }}' 
		    },
		    buttons: [
		        { href:"#", id:"editBtn", cls: 'btn-success', iconCls:"icon-share", label: "Detalles", click: function(e){
		        	var records = $("#grid_container").datatable("getSelected");
		        	if(records.length > 0){
			    		History.pushState({
				    		state:null, params: {
					    		'csrfmiddlewaretoken': token
					    	}, type: 'post'
						}, null, '/products/user/'+records[0].id+'/');
		        	} else{
						$('#grid_container').popover('show');
					}
		    		return false;
			    }},
			    { href:"#", id:"editBtn", cls: 'btn', iconCls:"icon-ban-circle", label: "Eliminar", click: function(e){
		        	var records = $("#grid_container").datatable("getSelected");
		        	if(records.length > 0){
			    		History.pushState({
				    		state:null, params: {
				    			'id': records[0].id,
					    		'csrfmiddlewaretoken': token
					    	}, type: 'post'
						}, null, '/products/user/cancel.html');
		        	} else{
						$('#grid_container').popover('show');
					}
		    		return false;
			    }}
			],
		    showPagination: false,
		    columns: [
				{ title: "", field: "id", hidden: true },
		        { title: "Nombre", sortable: true, field: "username", filter: true },
		        { title: "", field: 'link2', css: {width: 30}, callback: function(data, column){
		        	var details = $('<a href="/products/instance/'+data["id"]+'/" class="btn btn-mini btn-success" title="Detalles"><i class="icon-edit"/></a>');
		        	details.click(function(){
		        		History.pushState({
				    		state:null, params: {
					    		'csrfmiddlewaretoken': token
					    	}, type: 'post'
						}, null, '/products/user/'+data["id"]+'/');
		        		return false;
		        	});
		        	return details;
		        }},
		        { title: "", field: 'link3', css: {width: 30}, callback: function(data, column){
		        	var remove = $('<a href="/products/instance/cancel.html" class="btn btn-mini" title="Eliminar"><i class="icon-remove"/></a>');
		        	remove.click(function(){
		        		History.pushState({
				    		state:null, params: {
				    			'id': data["id"],
					    		'csrfmiddlewaretoken': token
					    	}, type: 'post'
						}, null, '/products/user/cancel.html');
		        		return false;
		        	});
		        	return remove;
		        }}
		    ]
		});

		$('ul.breadcrumb li a').click(function(e) {
			History.pushState({state:this}, null, this.href);
			return false;
		});
	</script>