{% load i18n %}
{% load expr %}
<div class="nav">
	<ul class="breadcrumb">
	    <li class="active"><a href="/products.html">Productos</a></li>
    </ul>
</div>
{% for product in object_list %}
{% expr forloop.get('counter')%2 as countval %}
{% if countval != 0 %}
<div class="row-fluid">
{% endif %}
	<div class="span6">

		<div class="well">
			<h2>{{ product.name }}</h2>
			<form class="product_form">
				<table>
					<tr>
						<td style="width: 200px;" valign="top">
							<div style="height: 100px;">
								<img class="left_img" src="{{ MEDIA_URL }}{{ product.icon }}" style="height:100px; width:100px;"/>
							</div>
						</td>
						<td>
							<div class="carousel slide slideshow">
						      <div class="carousel-inner">
						      	{% for image in product.images.all %}
						        <div class="item{% if forloop.first %} active{% endif %}">
						          <img src="{{ MEDIA_URL }}{{ image.image }}" data-thumb="{{ MEDIA_URL }}{{ image.image }}" alt="" height="296"/>
						        </div>
						        {% endfor %}
						      </div>
						    </div>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<div style="height: 80px;">
								<p>
									{{ product.description|striptags|safe|truncatewords:"30"}}
								</p>
							</div>
							<div align="center">
								<a class="btn btn-success product_details" href="/products/{{ product.slug }}"><i class="icon-zoom-in"></i>Leer +</a>
							</div>
						</td>
					</tr>
				</table>
				<br>
				<div class="row-fluid">
					<div class="span12">
				    	<div id="grid_container{{ product.id }}" class="table-condensed">
				    	</div>
					</div>
				</div>
				<br>
				<div align="center">
					<a class="btn btn-mini btn-success" href="{{ product.url_video }}" target="_blank"><i class="icon-film"></i>Video</a>
					<a class="btn btn-mini btn-success" href="{{ product.url_demo }}" target="_blank"><i class="icon-picture"></i>Demo</a>
					<a class="btn btn-mini btn-success product_contact" href="contact.html"
						title="Cont&aacute;ctenos para solicitar un producto ajustado a sus necesidades"><i class="icon-fullscreen"></i>Cotizar</a>
					<a class="btn btn-mini btn-success product_share" href="/products/share.html?product={{ product.id }}"
						title="Invite a sus amigos"><i class="icon-envelope"></i>Compartir</a>
					<div class="btn-group" align="left">
						<a class="btn btn-mini btn-success dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-download-alt"></i>Descargas<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="{{ MEDIA_URL }}{{ product.ficha }}" target="_blank"><i class="icon-list-alt"></i>Ficha T&eacute;cnica</a></li>
							<li><a href="{{ MEDIA_URL }}{{ product.ppt }}" target="_blank"><i class="icon-picture"></i>Presentaci&oacute;n</a></li>
							<li><a href="{{ MEDIA_URL }}{{ product.manual }}" target="_blank"><i class="icon-book"></i>Manual</a></li>
							<li><a href="{{ MEDIA_URL }}{{ product.src }}" target="_blank"><i class="icon-share"></i>C&oacute;digo Fuente</a></li>
						</ul>
					</div>
				</div>
	        </form>
        </div>
	</div>
{% if countval == 0 %}
</div>
{% endif %}
{% endfor %}
	<div tabindex="-1" class="modal hide fade" id="ajax-modal" style="display: none; margin-top: -128.5px;" aria-hidden="true">
		<div class="modal-header">
			<button aria-hidden="true" data-dismiss="modal" class="close" type="button">x</button>
			<h4>Informaci&oacute;n</h4>
		</div>
		<div class="modal-body" data-replace="true">

		</div>
	</div>
	<div class="clear"></div>
	<script type="text/javascript">
		$('.slideshow').carousel();
		var $modal = $('#ajax-modal');
		$('.product_contact').click(function(e){
			$modal.find('.modal-header h4').html(this.title);
			$modal.find('.modal-body').load(this.href, 'modal=true', function(){
				$modal.modal({width: 800});
			});
			return false;
		});
		$('.product_share').click(function(e){
			$modal.find('.modal-header h4').html(this.title);
			$modal.find('.modal-body').load(this.href);
			return false;
		});

		$('.product_details').click(function(e){
			History.pushState({state:null}, null, this.href);
			return false;
		});
		var pop_options = {
			'placement':'bottom',
			'html': true,
			'trigger': 'hover',
			'content': 'Debe seleccionar un Plan para realizar la Compra y Configuraci&oacute;n del Producto',
			'delay': { show: 500, hide: 100 }
		};
	    var csrftoken = $.cookie('csrftoken');
	{% for product in object_list %}
		$('#grid_container{{ product.id }}').popover(pop_options);
		var columns{{ product.id }} = [
   			{ title: "", field: "id", hidden: true },
	        { title: "Instancias", sortable: true, field: "instances", filter: true },
	        { title: "Usuarios", sortable: true, field: "users" },
	        { title: "Precio",sortable: false,field: "price",filter: true, css: { textAlign: 'right'}},
	        { title: "Meses",sortable: false,field: "months",hidden: false, css: { textAlign: 'right'}},
	        { title: "", field: 'link1', css: {width: 30, height: 30}, callback: function(data, column){
	        	var details = $('<a href="#" class="btn btn-mini btn-primary" title="Comprar"><i class="icon-shopping-cart icon-white"/></a>');
	        	details.click(function(){
	        		$modal.find('.modal-header h4').html("Configure su Producto");
					$modal.find('.modal-body').load('/products/plan_config.html', {id: data["id"],'csrfmiddlewaretoken': csrftoken}, function(){
						$modal.modal({width: 800});
			    	});
	        		return false;
	        	});
	        	return details;
	        }}
	    ];

		$("#grid_container{{ product.id }}").datatable({
			title: 'Planes de Compra',
		    perPage: 15,
		    showBottomDetails: false,
		    url: '/products/plans.json',
		    post:{
				'csrfmiddlewaretoken': csrftoken,
				'id': {{ product.id }}
		    },
		    buttons: [
				{ href:"#", id:"editBtn", cls: 'btn-primary', iconCls:"icon-shopping-cart icon-white", label: "Comprar", click: function(e){
					var records = $("#grid_container{{ product.id }}").datatable('getSelected');
					if(records.length > 0){
						$modal.find('.modal-header h4').html("Configure su Producto");
						$modal.find('.modal-body').load('/products/plan_config.html', {id:records[0].id,'csrfmiddlewaretoken': csrftoken}, function(){
							$modal.modal({width: 800});
				    	});
					} else{
						$('#grid_container{{ product.id }}').popover('show');
					}
					return false;
				}}
			],
		    showPagination: true,
		    columns: columns{{ product.id }}
		});

	{% endfor %}
	</script>
	<div style="height: 80px;"></div>