{% load expr %}
	<div class="well">
		<form action="#" method="post" class="form-horizontal">
			{% csrf_token %}
			<center>
				<img src="{{ MEDIA_URL }}{{ contract.product.icon }}" style="height:256px; width:256px;"/>
			</center>
		    <center>
			    <table>
					<tr>
						<td><label for="id_product">Producto:</label></td>
						<td><input id="id_product" value="{{ contract.product.name }}" name="product" type="text" disabled="disabled"/></td>
						
						<td><label for="id_price">Total a pagar:</label></td>
						<td><input id="id_price" value="{{ price }} USD" name="price" type="text" disabled="disabled"/></td>
					</tr>
					<tr>	
						<td><label for="id_discount">Descuento aplicado:</label></td> 
						<td><input id="id_discount" maxlength="30" value="{% expr contract.discount * 100 %}%" name="discount" type="text" require="true" label="Nombre de Usuario" disabled="disabled"/></td>
						
						<td><label for="id_months">Tiempo a renovar:</label></td> 
						<td><input id="id_months" name="email" value="{{ contract.months }} meses" type="text" require="true" label="months" disabled="disabled"/></td>
					</tr>
				</table>
			</center>
		</form>
		<br>
		<div class="row-fluid">
			<div class="span3"/>
			<div class="span4">
		    	<h4>Pagar Ahora</h4>
		    	{{ form_buy }}
	    	</div>
	    	<div class="span5">
		    	<h4>Subscribir Pago cada {{ contract.months }} Meses</h4>
		    	{{ form_subscribe }}
		    </div>
	    </div>
	</div>