{% load i18n %}
{% load expr %}
<div id="plan_div">
	<div class="well">
		<p>Se requiere la previa configuraci&oacute;n de su producto</p>
		<form action="/products/contract_build.html" method="post" id="config_plan_form" class="form-horizontal">
			{% csrf_token %}
			<input type="hidden" name="id" value="{{ plan.id }}">
			<ul class="nav nav-tabs">
				{% for inst in data %}
					<li {% if forloop.first %}class="active" {% endif %}><a data-toggle="tab" href="#tab{{ forloop.counter }}">Instancia {{ forloop.counter }}</a></li>
				{% endfor %}
			</ul>
			<div class="tab-content">
				{% for inst in data %}
				<div id="tab{{ forloop.counter }}" class="tab-pane {% if forloop.first %}active {% endif %}">
					<div class="row-fluid">
						<h4>Nombre de Instancia del Producto</h4>
						<p><input class="span12" type="text" name="instance{{ forloop.counter }}" required></p>
				      	<h4>Nombre de Usuarios de la Instancia</h4>
				      	{% for user_inst in inst %}
				      	<div class="span3" {% expr (forloop.get('counter')-1)%3 as par %}{% if par == 0 %} style="margin-left: 0;"{% endif %}>
					      	<label for="user{{ user_inst }}_instance{% expr forloop.get('parentloop').get('counter') %}">Usuario {{ forloop.counter }}:</label>
					      	<input type="text" name="user{{ user_inst }}_instance{% expr forloop.get('parentloop').get('counter') %}" id="user{{ user_inst }}_instance{% expr forloop.get('parentloop').get('counter') %}" required>
				      	</div>
				      	{% expr forloop.get('counter')%3 as par %}{% if par != 0 %}
				      	<div class="span1"></div>
				      	{% endif %}
						{% endfor %}
				    </div>
				</div>
				{% endfor %}
			</div>
			<br>
			<hr>
			<a href="#" class="btn btn-primary" id="form_submit"><i class="icon-wrench icon-white"></i>Configurar</a>
			<input type="submit" id="submit_btn" style="display: none;">
		</form>
	</div>
	<script type="text/javascript">
		var submit = function(){
			var $modal = $('#ajax-modal');
			$modal.modal("hide");
			History.pushState({
	    		state:null, params: $('#config_plan_form').serialize(), type: 'post'
			}, null, $('#config_plan_form').attr('action'));
			return false;
		};
		$('#form_submit').click(function(){
			$('#submit_btn').click();
		});
		$('#config_plan_form').submit(submit);
		
	</script>
</div>