<div id="contact_div">
	<div class="well">
		<form action="/products/share.html" method="POST" id="share_form" title="Introduzca la direccion de correo electr&oacute;nico de un amigo">
		    {% csrf_token %}
		    <input type="hidden" value="{{ product.id }}" name="product" id="id_product">
		    <div>Se le conceder&aacute;n bonificaciones sobre el producto {{ product.name }} por cada cliente al que usted invite y nos contrate el servicio.</div>
		    <table>
		    	<tr>
		    		<td>
					    <table>
							<tr>
								<td><label for="id_email">Correo Electr&oacute;nico:</label></td>
								<td><input type="text" id="id_email" name="email" /></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<a class="btn btn-primary" href="/products/share.html" id="share_link"><i class="icon-envelope icon-white"></i>Enviar</a>
		</form>
	</div>
</div>
<script type="text/javascript">
	var send = function(){
		$.ajax({
			type: 'post',
			url: $('#share_form').attr('action'),
			data: $('#share_form').serialize(),
			success: function(response) {
				$('#contact_div').html(response);
			}
		});
		return false;
	};
	$('#share_form').submit(send);
	$('#share_link').click(send);
	var $modal = $('#ajax-modal');
	$modal.modal({width: 800});
</script>
