	<div tabindex="-1" class="modal hide fade" id="info-modal" style="display: none; margin-top: -128.5px;" aria-hidden="true">
		<div class="modal-header">
			<button aria-hidden="true" data-dismiss="modal" class="close" type="button">x</button>
			<h4>Informaci&oacute;n</h4>
		</div>
		<div class="modal-body" data-replace="true">
			<p>Invitaci&oacute;n enviada correctamente</p>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
		</div>
	</div>
	<script type="text/javascript">
		var $modal = $('#ajax-modal');
		if($modal != undefined){
			$modal.modal("hide");
		}
	</script>