<div>
	<ul class="breadcrumb">
	    <li><a href="/profiles/{{ user }}/">Perfil</a><span class="divider">/</span></li>
	    <li><a href="/products/contract/{{ instance_user.instance.contract.id }}/">Contrato para el Producto {{ instance_user.instance.contract.product.name }}</a><span class="divider">/</span></li>
	    <li><a href="/products/instance/{{ instance_user.instance.id }}/">Instancia del Producto {{ instance_user.instance.contract.product.name }}</a><span class="divider">/</span></li>
	    <li><a href="/products/user/{{ instance_user.id }}/">Datos del Usuario {{ instance_user.username }}</a><span class="divider">/</span></li>
	    <li class="active">Cambiar Contrase&ntilde;a</li>
    </ul>
	<div class="well">
		<form action="/products/user/password/change.html" method="post" id="password_form" title="Cambiar Contrase&ntilde;a">
		{% csrf_token %}
		{{ form.errors }}
			<table>
				<tr>
					<th>
						<label for="id_new_password1">Nueva contrase&ntilde;a:</label>
					</th>
					<td>
						<input id="id_new_password1" name="new_password1" type="password" />
						<input type="hidden" name="id" value="{{ instance_user.id }}" />
					</td>
				</tr>
				<tr>
					<th>
						<label for="id_new_password2">Confirme la nueva contrase&ntilde;a :</label>
					</th>
					<td>
						<input id="id_new_password2" name="new_password2" type="password" />
					</td>
				</tr>
			</table>
			<input type="submit" value="Aceptar" class="btn btn-primary"/>
			<input type="button" value="Cancelar" id="cancel_button" class="btn btn-success"/>
		</form>
	</div>
	<script type="text/javascript">
		$('#password_form').submit(function(){
			$.ajax({
				type: 'post',
				url: $('#password_form').attr('action'),
				data: $('#password_form').serialize(),
				success: function(response) {
					$('.center_content').html(response);
					$('#login_container').load("/accounts/login/");
				}
			});
			return false;
		});
		$('#cancel_button').click(function(){
			History.pushState({state:null}, null, "/profiles/{{ user }}/");
			return false;
		});
		$('ul.breadcrumb li a').click(function(e) {
			History.pushState({state:this}, null, this.href);
			return false;
		});
	</script>
</div>
