	<ul class="breadcrumb">
	    <li><a href="/profiles/{{ user }}/">Perfil</a><span class="divider">/</span></li>
	    <li><a href="/products/contract/{{ instance_user.instance.contract.id }}/">Contrato para el Producto {{ instance_user.instance.contract.product.name }}</a><span class="divider">/</span></li>
	    <li><a href="/products/instance/{{ instance_user.instance.id }}/">Instancia del Producto {{ instance_user.instance.contract.product.name }}</a><span class="divider">/</span></li>
	    <li class="active">Datos del Usuario {{ instance_user.username }}</li>
    </ul>
	<div class="well">
		<h2>Datos del Usuario</h2>
		<hr>
		<form method="POST" action="" id="user_form" title="Mi Perfil">
			<table>
				<tr>
					<td><label for="id_username">Nombre de Usuario:</label></td> 
					<td><input id="id_username" maxlength="30" value="{{ instance_user.username }}" name="username" type="text" require="true" label="Nombre de Usuario" disabled="disabled"/></td>
				</tr>
				<tr>
					<td><label for="id_instance">Instancia:</label></td> 
					<td><input id="id_instance" maxlength="30" value="{{ instance_user.instance.db_name }}" name="instance" type="text" require="true" disabled="disabled"/></td>
				</tr>
				<tr>
					<td><label for="id_state">Estado:</label></td>
					<td><input class="required" id="id_state" value="{{ instance_user.state }}" name="state" type="text" disabled="disabled"/></td>
				</tr>
			</table>
			<a class="btn btn-primary" href="/products/user/password.html" id="password_update"><i class="icon-edit icon-white"></i>Cambiar contrase&ntilde;a</a>
			{% if instance_user.instance.state != 'extra' and instance_user.instance.state != 'cancel' %}
			<a class="btn" href="/products/user/cancel.html" id="user_cancel"><i class="icon-ban-circle"></i>Cancelar Usuario</a>
			{% endif %}
		</form>
	</div>
	
	<script type="text/javascript">
		$('#password_update,#user_cancel').click(function(){
			History.pushState({
	    		state:null, params: {
	    			'id': '{{ instance_user.id }}',
		    		'csrfmiddlewaretoken': $.cookie('csrftoken')
		    	}, type: 'post'
			}, null, this.href);
			return false;
		});
		
		$('ul.breadcrumb li a').click(function(e) {
			History.pushState({state:this}, null, this.href);
			return false;
		});
	</script>
	