{% extends "comments/base.html" %}
{% load i18n %}

{% block title %}{% trans "Aprobar un Comentario" %}{% endblock %}

{% block content %}
  <h1>{% trans "Desea realmente hacer esto publico?" %}</h1>
  <blockquote>{{ comment|linebreaks }}</blockquote>
  <form action="." method="post">{% csrf_token %}
    {% if next %}<div><input type="hidden" name="next" value="{{ next }}" id="next" /></div>{% endif %}
    <p class="submit">
      <input type="submit" name="submit" value="{% trans "Aprobar" %}" /> or <a href="{{ comment.get_absolute_url }}">cancel</a>
    </p>
  </form>
{% endblock %}
