{% extends "comments/base.html" %}
{% load i18n %}

{% block title %}{% trans "Marcar este comentario" %}{% endblock %}

{% block content %}
<h1>{% trans "Desea realmente marcar este comentario?" %}</h1>
  <blockquote>{{ comment|linebreaks }}</blockquote>
  <form action="." method="post">{% csrf_token %}
    {% if next %}<div><input type="hidden" name="next" value="{{ next }}" id="next" /></div>{% endif %}
    <p class="submit">
    <input type="submit" name="submit" value="{% trans "Marcar" %}" /> o <a href="{{ comment.get_absolute_url }}">Cancelar</a>
    </p>
  </form>
{% endblock %}
