<div tabindex="-1" class="modal hide fade" id="comment-modal" style="display: none; margin-top: -128.5px;" aria-hidden="true">
	<div class="modal-header">
		<button aria-hidden="true" data-dismiss="modal" class="close" type="button">x</button>
		<h4>Eloquentia Solutions</h4>
	</div>
	<div class="modal-body" data-replace="true">
		<p>Su comentario ha sido enviado con exito.</p>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
	</div>
</div>
<script type="text/javascript">
	$('#comment-modal').modal();
	var $modal = $('#ajax-modal');
	if($modal != undefined){
		$modal.modal("hide");
	}
	
	//History.pushState({state:this}, null, "/home.html");
</script>