{% load i18n %}
{% load comments %}
<div class="well">
	<form action="{% comment_form_target %}" method="post" id="comment_form" title="{% blocktrans count counter=form.errors|length %}Por favor corrija el error más abajo{% plural %}Por favor corrija los errores más abajo{% endblocktrans %}">
	  	{% csrf_token %}
	    {% if next %}<div><input type="hidden" name="next" value="{{ next }}" /></div>{% endif %}
	    {% if form.errors %}
	    <h1></h1>
	    {% else %}
	    <h1>{% trans "Previsualice su comentario" %}</h1>
	      <blockquote>{{ comment|linebreaks }}</blockquote>
	      <p>
	      {% trans "and" %} <input type="submit" name="submit" class="submit-post" value="{% trans "Envie su comentario " %}" id="submit" /> {% trans "o hagale sus modificaciones" %}:
	      </p>
	    {% endif %}
		    <table>
		    	<tr>
		    		<td>
		    			
					    {% for field in form %}
					      {% if field.is_hidden %}
					        <div>{{ field }}</div>
					      {% else %}
					        {% if field.errors %}{{ field.errors }}{% endif %}
					        <p
					          {% if field.errors %} class="error"{% endif %}
					          {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
					          {{ field.label_tag }} {{ field }}
					        </p>
					      {% endif %}
					    {% endfor %}
					</td>
	    			<td valign="top">
						<div style="padding-left: 40px;">
							<div id="panelCenter_2" class="well">
						    	<h3>Nuestro Contacto</h3>
						    	<address>
						    		<strong>Tel&eacute;fonos</strong><br>
						    		<dl>
										<dd>(52) 998-884-1847</dd>
										<dd>(52) 998-154-1205</dd>
									</dl>
						    	</address>
						    	<address>
						    		<strong>Domicilio Legal</strong><br>
						    		Ave Yaxshilan #94 Dpto C<br>
						    		Canc&uacute;n CP 77520, Quintana Roo, M&eacute;xico<br>
						    	</address>
						    	<address>
						    		<strong>Correo Electr&oacute;nico</strong><br>
						    		<a href="mailto:eloquentia.solutions@gmail.com">eloquentia.solutions@gmail.com</a>
						    	</address>
						    </div>
						</div>
					</td>
					<td valign="top">
						<div style="margin: 35px;">
							<img alt="" src="{{ STATIC_URL }}images/services/contact.png" style="width: 250px; height: auto;">
						</div>
					</td>
				</tr>
			</table>
	    <p class="submit">
	    <input type="submit" name="submit" class="submit-post btn btn-primary" value="{% trans "Enviar" %}"/>
	    <input type="submit" name="preview" class="submit-preview btn" value="{% trans "Previsualizar" %}" />
	    </p>
  	</form>
</div>
<script type="text/javascript">
	/*$('#comment_form').submit(function(){
		$.ajax({
			type: 'post',
			url: $('#comment_form').attr('action'),
			data: $('#comment_form').serialize(),
			success: function(response) {
				$('#contact_div').html(response);
			}
		});
		return false;
	});*/
	var send = function(){
		$.blockUI({ message: '<h4><img src="{{ STATIC_URL }}img/ajax-loader.gif" /> Enviando...</h4>'});
		$.ajax({
			type: 'post',
			url: $('#comment_form').attr('action'),
			data: $('#comment_form').serialize(),
			success: function(response) {
				$('#contact_div').html(response);
				$.unblockUI()
			}
		});
		return false;
	};
	$('#comment_form').submit(send);
	$('#comment_link').click(send);

	$('ul.breadcrumb li a').click(function(e) {
		History.pushState({state:this}, null, this.href);
		return false;
	});

</script>
