{% load i18n %}
	<ul class="breadcrumb">
	    <li class="active"><a href="/about.html">Quienes Somos</a></li>
    </ul>
	<div class="well" >
		Eloquentia Solutions es una joven empresa orientada al sector de
		las tecnolog&iacute;as de informaci&oacute;n aplicadas a&nbsp; la gesti&oacute;n
		empresarial,&nbsp; la gesti&oacute;n comercial y el desarrollo de software
		basado en el m&eacute;todo de L&iacute;neas de Productos de Software (LPS).<br>
		Cuenta con un colectivo de profesionales altamente comprometidos y
		capacitados, con un programa de formaci&oacute;n continuado y un esquema de
		realizaci&oacute;n espiritual y profesional acorde a la filosof&iacute;a del
		desarrollo sostenible, la igualdad y el respeto por la naturaleza y la
		sociedad en su conjunto<br>
		En Eloquentia se han desarrollado 6 l&iacute;neas de trabajo fundamentalmente,
		que en su integridad son capaces de convertir una empresa, por m&aacute;s
		peque&ntilde;a y desconocida que sea, en una empresa din&aacute;mica, con acceso a
		informaci&oacute;n en tiempo real, totalmente integrada y automatizada, donde
		los datos se constituyen como un repositorio central e integrado, que se
		capturan una &uacute;nica vez en los proceso primarios, y son trasformados en
		informaci&oacute;n para consulta en tiempo real y en diferentes formatos y
		protocolos de acceso acorde a las necesidades espec&iacute;ficas de cada
		involucrado dentro de la organizaci&oacute;n.

		<p style="text-align: justify;"><img style="margin-left: 8px; margin-right: 8px; float: left; width: 350px; height: auto;" alt="portada1" src="{{ STATIC_URL }}images/services/pequenos_grandes_negocios.png">
			Con los m&eacute;todos y tecnolog&iacute;as
			desarrollados en Eloquentia. cualquier empresa debe ser capaz de
			multiplicar sus &iacute;ndices de productividad, eficiencia, capacidad,
			adaptabilidad y tiempo de respuesta al mercado, adem&aacute;s de presentar
			mejores condiciones para identificar los riesgos de la organizaci&oacute;n,
			perfeccionar los esquemas de direcci&oacute;n y control, tanto empresariales,
			gerenciales, como financieros. <br>
			Eloquentia defiende como filosof&iacute;a y asume como principio que el mundo
			empresarial del ma&ntilde;ana no puede estar signado por las grandes
			transnacionales y el monopolio del capital tecnol&oacute;gico y financiero, al
			menos no en el formato actual. Estas por su propia naturaleza est&aacute;n
			obligadas a transformar y evolucionar la diversidad empresarial,
			teniendo mucho peso para las econ&oacute;micas emergentes, las peque&ntilde;as y
			medianas empresas, donde la colaboraci&oacute;n y el intercambio cient&iacute;fico
			t&eacute;cnico y comercial de estas y para con la sociedad, depender&aacute; en gran
			medida de las tecnol&oacute;gicas de informaci&oacute;n y las capacidades de acceso a
			estas.<br>
			Por tal motivo, Eloquentia se ha planteado un esquema comercial pensado
			para este segmento de mercado, donde los planes de financiamiento, los
			costos de asimilaci&oacute;n de las tecnolog&iacute;as y m&eacute;todos de trabajo integrales
			que se proveen, as&iacute; como la capacidad de sostenimiento en el tiempo de
			inversi&oacute;n sean las mas econ&oacute;micas y objetivas posible. <br>
			Eloquentia a tomado como premisa tratar de priorizar las empresas de
			menos capacidad econ&oacute;mica y que hoy est&aacute;n incapacitadas de alcanzar
			estos servicios, ofertando para ello presupuestos de gasto muy
			econ&oacute;micos y ventajoso, y una variada gama de posibilidades de
			negociaci&oacute;n entre las partes, con el objetivo de que nuestros clientes
			puedan tener siempre una posibilidad concreta y real.<br>
			Un aspecto importante para Eloquentia que usted debe conocer, radica en
			el comportamiento de los par&aacute;metros de &eacute;xito de sus inversiones para con
			nosotros. En este sentido Eloquentia se complace en informarle que los
			tiempos de respuesta de los primeros resultados una vez aplicadas las
			tecnolog&iacute;as y m&eacute;todos no sobrepasan los 3 meses, y tienen su curva
			m&aacute;xima de valor, al a&ntilde;o y medio aproximadamente . La curva de retorno de
			inversi&oacute;n (ROI) promedio de los servicios que provee Eloquentia nunca
			sobre pasan el a&ntilde;o, y el valor ganado para los primeros 24 meses siempre
			ha sobrepasado el 35% del promedio hist&oacute;rico de los valores de la
			organizaci&oacute;n cliente que se trabaja.<br>
			Eloquentia ha pensado su esquema de servicio en seis lineas
			fundamentales y en dos variantes posibles de aplicaci&oacute;n. Una primera
			variante asumiendo un proyecto llave en mano o todo incluido, que asume
			los servicios en su integridad, y como segundo esquema, la negociaci&oacute;n
			de los servicios de cada linea por separado y a demanda en funci&oacute;n de la
			necesidades concretas del cliente y su capacidad de inversi&oacute;n.
		</p>

	</div>

	<div class="clear"></div>

	<script type="text/javascript">
		$('a.link_more,ul.breadcrumb li a').click(function(e){
			History.pushState({state:this}, null, this.href);
			return false;
		});
	</script>
