{% load i18n %}
{% load comments %}
    <ul class="breadcrumb">
	    <li class="active"><a href="/contact.html">Contacto</a></li>
    </ul>
<div id="contact_div">
	{% get_comment_form for Contact_Entry as form %}

	<div class="well">
		<form action="{% comment_form_target %}" method="POST" id="comment_form" title="Env&iacute;e un Comentario" >
		    {% csrf_token %}
		    {{ form.content_type }}
		    {{ form.object_pk }}
		    {{ form.timestamp }}
		    {{ form.security_hash }}
		    <table>
		    	<tr>
		    		<td>
					    <table>
					    	<tr>
					    		<td><label for="id_name">Nombre:</label></td>
					    		<td><input id="id_name" maxlength="50" name="name" type="text" /></td>
					    	</tr>
							<tr>
								<td><label for="id_email">Correo Electr&oacute;nico:</label></td>
								<td><input id="id_email" name="email" type="text" /></td>
							</tr>
							<tr>
								<td><label for="id_url">Sitio Web:</label></td>
								<td><input id="id_url" name="url" type="text" /></td>
							</tr>
							<tr>
								<td colspan="2"><label for="id_comment">Comentario:</label></td>
							</tr>
							<tr>
								<td colspan="2">
									<textarea rows="10" name="comment" id="id_comment" cols="40" style="width: 330px; height: 93px;"></textarea>
								</td>
							</tr>
						</table>
					</td>
					<td valign="top">
						<div style="padding-left: 40px;">
							<div id="panelCenter_2" class="well">
						    	<h3>Nuestro Contacto</h3>
						    	<address>
						    		<strong>Tel&eacute;fonos</strong><br>
						    		<dl>
										<dd>(52) 998-884-1847</dd>
										<dd>(52) 998-154-1205</dd>
									</dl>
						    	</address>
						    	<address>
						    		<strong>Domicilio Legal</strong><br>
						    		Ave Yaxshilan #94 Dpto C<br>
						    		Canc&uacute;n CP 77520, Quintana Roo, M&eacute;xico<br>
						    	</address>
						    	<address>
						    		<strong>Correo Electr&oacute;nico</strong><br>
						    		<a href="mailto:eloquentia.solutions@gmail.com">eloquentia.solutions@gmail.com</a>
						    	</address>
						    </div>
						</div>
					</td>
					{% if modal %}
					<td valign="top">
						<div style="margin: 35px;">
							<img alt="" src="{{ STATIC_URL }}images/services/contact.png" style="width: 250px; height: auto;">
						</div>
					</td>
					{% endif %}
				</tr>
			</table>
			<p style="display:none;">
				{{ form.honeypot }}
			</p>
			<a class="btn btn-primary" href="/products/share.html" id="comment_link"><i class="icon-envelope icon-white"></i>Enviar</a>
		</form>
	</div>

	<script type="text/javascript">
		var send = function(){
			$.blockUI({ message: '<h4><img src="{{ STATIC_URL }}img/ajax-loader.gif" /> Enviando...</h4>'});
			$.ajax({
				type: 'post',
				url: $('#comment_form').attr('action'),
				data: $('#comment_form').serialize(),
				success: function(response) {
					$('#contact_div').html(response);
					$.unblockUI()
				}
			});
			return false;
		};
		$('#comment_form').submit(send);
		$('#comment_link').click(send);

		$('ul.breadcrumb li a').click(function(e) {
			History.pushState({state:this}, null, this.href);
			return false;
		});
	</script>

</div>
