{% load expr %}
    <ul class="breadcrumb">
	    <li class="active"><a href="/home.html">Inicio</a></li>
    </ul>
	<div>
		<div>
			<div class="carousel slide" id="slideshow">
		      <div class="carousel-inner">
		      	{% for slide in slides %}
		        <div class="item{% if forloop.first %} active{% endif %}">
		          <img src="{{ MEDIA_URL }}{{ slide.image }}" alt="" style="width:100%"/>
		          <div class="container">
		            <div class="carousel-caption" style=" background-color: transparent; margin-top: 0px; margin-left: 650px;">
		              <p class="lead">{{ slide.text }}</p>
		              <a class="btn btn-success" href="{{ slide.link }}">Leer +</a>
		            </div>
		          </div>
		        </div>
		        {% endfor %}
		      </div>
		      <a class="left carousel-control" href="#slideshow" data-slide="prev">&lsaquo;</a>
		      <a class="right carousel-control" href="#slideshow" data-slide="next">&rsaquo;</a>
		    </div>
			
			<div class="well" style="text-align: center;"><h2>Nuestros Productos</h2></div>
			<div class="row-fluid">
				<ul class="thumbnails">
				{% for product in products %}
					<li class="span2" style="width: 18.2996%; box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;" >
					    <div class="thumbnail">
							<img src="{{ MEDIA_URL }}{{ product.icon }}" data-src="holder.js/200x150" style="width: 170px; height: 170px;"/>
							<div class="caption" style="height: 140px;">
								<h4>{{ product.name }}</h4>
								<p>{{ product.description|striptags|safe|truncatewords:"10"}}</p>
							</div>
							<p style="text-align: center;">
								<a class="btn btn-success product_details" href="/products/{{ product.slug }}"><i class="icon-zoom-in"></i>Leer +</a>
							</p>
				        </div>
				    </li>
				{% endfor %}
				</ul>
			</div>
		</div>
		<div class="row-fluid">
		    <div id="panelCenter_1" class="span4 well">
				<h3>Producto Destacado</h3>
				<p id="myytplayer">
					<iframe id="ytplayer" type="text/html" width="280" height="225" src="https://www.youtube.com/embed/M7lc1UVf-VE" frameborder="0" allowfullscreen/>
				</p>
		    </div>
		    
		    <div id="panelCenter_2" class="span4 well" style="height: 341px;">
		    	<h3>Nuestro Contacto</h3>
		    	<address>
		    		<strong>Tel&eacute;fonos</strong><br>
		    		<dl>
						<dd>(52) 998-884-1847</dd>
						<dd>(52) 998-154-1205</dd>
					</dl>
		    	</address>
		    	<address>
		    		<strong>Domicilio Legal</strong><br>
		    		Ave Yaxshilan #94 Dpto C<br>
		    		Canc&uacute;n CP 77520, Quintana Roo, M&eacute;xico<br>
		    	</address>
		    	<address>
		    		<strong>Correo Electr&oacute;nico</strong><br>
		    		<a href="mailto:eloquentia.solutions@gmail.com">eloquentia.solutions@gmail.com</a>
		    	</address>
		    </div>
		    
		    <div id="panelCenter_3" class="span4 well">
		    	<h3>Donde Estamos</h3>
				<p><a href="https://maps.google.com.mx/maps/ms?msa=0&amp;msid=200698907263161078499.0004d17537523687cf3ae&amp;ie=UTF8&amp;t=p&amp;ll=-5.965754,-71.367187&amp;spn=73.196935,122.695313&amp;z=2&amp;source=embed">
					<iframe height="225" frameborder="0" width="280" scrolling="no" src="https://maps.google.com.mx/maps/ms?msa=0&amp;msid=200698907263161078499.0004d17537523687cf3ae&amp;ie=UTF8&amp;t=p&amp;ll=-5.965754,-71.367187&amp;spn=73.196935,122.695313&amp;z=2&amp;output=embed" marginwidth="0" marginheight="0"></iframe>
					
					<!-- <img src="https://maps.google.com/maps/api/staticmap?center=50,30&zoom=5&markers=50,30&size=266x200&sensor=true"/> -->
				</a></p>
		    </div>
		</div>
	    <div class="clear"></div>
	</div>
    <script type="text/javascript">
    	$('#slideshow').carousel();
    	
		$('.product_details,.slide_link,ul.breadcrumb li a').click(function(e){
			History.pushState({state:this}, null, this.href);
			return false;
		});
		
		var params = { allowScriptAccess: "always" };
		var atts = { id: "myytplayer" };
		swfobject.embedSWF("http://www.youtube.com/v/HHQ7sdq0Qow?enablejsapi=1&playerapiid=myytplayer&version=3",
	                       "ytapiplayer", "425", "356", "8", null, null, params, atts);
        
	</script>