{% load i18n %}
{% load social_bookmarking_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
		<meta name="keywords" content="desarrollo web, desarrollo software, openerp mexico, software hospitales, software erp, software hoteles, software docente, erp"/>
		<meta name="rights" content="Eloquenti@ Solutions SA de CV 2012"/>
		<meta name="description" content="Eloquenti@ es una empresa dedicada a consultoria empresarial, desarrollo de software, soluciones OpenERP y servicios de posicionamiento web."/>
		<meta name="generator" content="Eloquenti@"/>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>Eloquenti@ Solutions</title>
		<link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" type="image/x-icon"/>

		<link rel="stylesheet" href="{{ STATIC_URL }}css/tipsy/front.css" media="screen, projection" type="text/css"/>

		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-modal.css" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/select2.css" />

		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>

		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.pop.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tipsy.js"></script>

		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tmpl.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.history.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.blockUI.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/select2.min.js"></script>

		<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-modal.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-modalmanager.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-datatable.js"></script>

		<script type="text/javascript" src="{{ STATIC_URL }}js/swfobject.js"></script>

		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-37370097-1']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
		<script type="text/javascript">
			//https://maps.google.com.mx/maps/ms?msa=0&amp;msid=200698907263161078499.0004d17537523687cf3ae&amp;ie=UTF8&amp;t=p&amp;ll=-5.965754,-71.367187&amp;spn=73.196935,122.695313&amp;z=2&amp;source=embed
			jQuery(document).ready(function(){
				function getUrlVars(){
				    var vars = [], hash;

			    	var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
			    	for(var i = 0; i < hashes.length; i++){
						hash = hashes[i].split('=');
						vars.push(hash[0]);
						vars[hash[0]] = hash[1];
				    }

			    	if($.browser.msie){
					    if(window.location.href.indexOf('#') != -1){
					    	hash = window.location.href.slice(window.location.href.indexOf('#') + 1);
					    	vars['redirect'] = '/'+hash;
					    }
				    }
				    return vars;
				}
				(function(window,undefined){
				    // Bind to StateChange Event
				    History.Adapter.bind(window,'statechange',function(){ // Note: We are using statechange instead of popstate
				        var State = History.getState(); // Note: We are using History.getState() instead of event.state
				        if(State.hash == '/'){
					        document.location.href = State.url;
						} else {
							if(State.data.waitMsg == undefined){
								State.data.waitMsg = 'Cargando';
							}
							$.blockUI({ message: '<h4><img src="{{ STATIC_URL }}img/ajax-loader.gif" /> '+State.data.waitMsg+'...</h4>'});
							if(State.data.type && State.data.type == "post"){
								$.ajax({
									type: 'post',
									url: State.url,
									data: State.data.params || {},
									success: function(response) {
										if(State.data.waitMsg){
											$.unblockUI()
										}
										$('.center_content').html(response);
									}
								});
							} else{
				        		$('.center_content').load(State.url, null, function(){
			        				$.unblockUI()
				        		});
							}
						}
				        $(document).scrollTop(0);
				    });
				})(window);

				$('ul.nav li a').click(function(e) {
					e.preventDefault();
					History.pushState({state:null}, null, this.href);
					return false;
				});
				var queryHash = getUrlVars();
				var queryRedirect = "/home.html";
				if(queryHash.redirect){
					queryRedirect = queryHash.redirect;
				}
				$('.center_content').load(queryRedirect);
				$('#login_container').load("/accounts/login/");
			});

		</script>

	</head>
	<body>
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		<div >
			<div id="main_header" align="center">
		    	<img alt="" src="{{ STATIC_URL }}images/banner.png" style="width: 1000px;">
		    </div>
	        <div class="navbar navbar-inverse navbar-static-top container" style="width:1000px;">
		        <div class="navbar-inner">
		        	<div class="container">
			        	<div class="nav-collapse collapse">
				        	<ul class="nav">
				        		<li id="home"><a href="/home.html">Inicio</a></li>
				                <li id="products"><a href="/products.html">Productos</a></li>
				                <li id="services"><a href="/services.html">Servicios</a></li>
				                <li id="about"><a href="/about.html">Quienes Somos</a></li>
				                <li id="contact"><a href="/contact.html">Contacto</a></li>
				        	</ul>
			        	</div>
			        	<div id="login_container"></div>
			        </div>
		        </div>
	        </div>
	      	<div id="got_top"></div>
		   	<div class="center_content container">

		    </div>

		    <div id="footer">
		    	{% load live_support_tags %}
				{% chat_iframe %}
		    </div>
		</div>
		{% load social_bookmarking_tags %}
		{% show_bookmarks object.title object.url object.description %}
		<!--
		http://www.facebook.com/sharer.php?u=http%3A%2F%2F4nf.org%2Fchange-content-div%2F&t=Change%20Content%20Div
		http://twitter.com/share?url=http%3A%2F%2F4nf.org%2Fchange-content-div%2F&text=Hey%20check%20this%20out
		https://plus.google.com/share?url=http%3A%2F%2F4nf.org%2Fchange-content-div%2F
		http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2F4nf.org%2Fchange-content-div%2F&title=Change%20Content%20Div
		mailto:?subject=Change Content Div&body=Hey check this out: http://4nf.org/change-content-div/
		-->

	</body>
</html>
