
	<div class="center_left" style="width: 95%;">
	
		<div class="features">
			<div class="news_box">
				<div class="news_icon"></div>
				<div class="title">Togaf</div>
				<div class="news_content" style="width: 100%;">
					<p style="text-align: justify;"><span><strong>The
					Open Group Architecture Framework (TOGAF)</strong> (o Esquema de Arquitectura del
					Open Group, en espa&ntilde;ol) es marco de trabajo de Arquitectura Empresarial
					que proporciona un enfoque para el dise&ntilde;o, planificaci&oacute;n, implementaci&oacute;n
					y gobierno de una arquitectura empresarial de informaci&oacute;n.</span></p>
					<a href="../services/consultoria_empresarial.html" class="read_more">Leer m&aacute;s</a> 
				</div>
			</div>
		</div>
		
		<div class="features">
			<div class="news_box">
				<div class="news_icon"></div>
				<div class="title">Desarrollo p&aacute;ginas web y tiendas virtuales</div>
				<div class="news_content" style="width: 100%;">
					<p style="text-align: justify;">Nuestra empresa basa el desarrollo
					de soluciones <strong>web</strong>, intranet, <strong>portales
					corporativos</strong>, blogs publicitarios, <strong>redes sociales</strong> o<strong>
					tiendas virtuales</strong> en cuatro tecnolog&iacute;a maduras que se basan en software
					libre. De modo que dependiendo del tipo de soluci&oacute;n que se demande y la
					preferencia que el cliente pueda tener por una de estas tecnolog&iacute;as,
					seria las caracter&iacute;sticas finales del cliente.</p>
					<a href="../services/desarrollo_software.html" class="read_more">Leer m&aacute;s</a> 
				</div>
			</div>
		</div>
		
		<div class="features">
			<div class="news_box">
				<div class="news_icon"></div>
				<div class="title">OpenERP</div>
				<div class="news_content" style="width: 100%;">
					<p style="text-align: justify;"><span><strong>OpenERP</strong> es un framework de gesti&oacute;n empresarial y constituye una fuerte <strong>alternativa
					ERP de c&oacute;digo abierto</strong>, actualmente producido por OpenERP s.a.</span></p>
					<p><span>El mismo constituye un producto alternativo de
					c&oacute;digo abierto a SAP ERP y Microsoft Dynamics, actualmente considerado
					como el ERP de c&oacute;digo abierto m&aacute;s sencillo, mejor estructurado y m&aacute;s
					destacado del momento.</span></p>
					<a href="../services/traduccion_subtitulado.html" class="read_more">Leer m&aacute;s</a> 
				</div>
			</div>
		</div>
		
		<div class="features">
			<div class="news_box">
				<div class="news_icon"></div>
				<div class="title">Pentaho</div>
				<div class="news_content" style="width: 100%;">
					<p style="text-align: justify;"><span><strong>Pentaho
						BI Suite</strong> es una plataforma tecnol&oacute;gica libre orientado a las soluciones
						de inteligencia empresarial (<strong>Business Intelligence</strong>).
						Incluye herramientas integradas para generar informes, miner&iacute;a de datos,
						ETL, entre otros.</span>
					</p>
					<a href="../services/identidad_diseno_posicionamiento.html" class="read_more">Leer m&aacute;s</a> 
				</div>
			</div>
		</div>
		
		<div class="features">
			<div class="news_box">
				<div class="news_icon"></div>
				<div class="title">Scrum</div>
				<div class="news_content" style="width: 100%;">
					<p style="text-align: justify;"><strong>Scrum</strong> es un marco
					de trabajo para la gesti&oacute;n y desarrollo de software basada en un proceso
					iterativo e incremental utilizado en entornos basados en el desarrollo
					&aacute;gil de software. En la actualidad ya muy aplicado a otras esferas de la
					producci&oacute;n y los servicios.</p>
					<a href="../services/openerp.html" class="read_more">Leer m&aacute;s</a> 
				</div>
			</div>
		</div>
		
	</div>
	
	<div class="clear"></div>
	
	<script type="text/javascript">
		$('a.read_more').click(function(e) {
			$('.center_content').load(this.href);
			return false;
		});
	</script>
