body {
	/*background: -moz-linear-gradient(center bottom , #C7D3D1 50%, steelblue 100%) no-repeat scroll 0 0 transparent;*/
	background-color: #F5F5F5;
	padding: 0;
	font-family: arial, sans-serif;
	font-size: 12px;
	margin: 0px auto auto auto;
	color: #36322b;
}

.clear {
	clear: both;
}

#main_container {
	width: 1000px;
	height: auto;
	margin: auto;
	padding: 0px;
}

/*---------------center_content-------*/
.center_content {
	height: auto;
	clear: both;
	position: relative;
    /*top: 81px;*/
    min-height: 630px;
    width: 1000px;
}

.social-bookmarking {
	background: none repeat scroll 0 0 black;
    position: fixed;
    right: 0;
    top: 170px;
    border-radius: 10px 0px 0px 10px;
    color: white;
    display: block;
    z-index: 100;
}

.bookmark{
	padding: 5px;
}

.aek_box {
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	background-color:#ddeef6;
	border:1px transparent;
	text-align:left;
	padding:10px;
	*margin-left:-15px;
	color:#789;
	font-size:11px;
	text-shadow: 0 1px 0 #FFFFFF;
}

.aek_box .aek_box_inside {
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 3px #888888;
    padding: 10px;
    text-shadow: 0 1px 0 #FFFFFF;
}

.aek_box a {
	text-shadow: 0 1px 0 #FFFFFF;
	color: #66AACC;
}

.aek_box hr{
	color:#ddd;
	border:1px solid #ddd;
	border-bottom-color:#f9f9f9;
}

.aek_box .aek_box_link {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	background:#39d url('../css/tipsy/bg-btn-blue.png') repeat-x scroll 0 0;
	border:1px solid #39D;
	color:#fff;
	text-shadow:0 -1px 0 #39d;
	padding:4px 10px 5px;
	font-size:11px;
	margin:0 5px 0 0;
	font-weight:bold;
	text-decoration: none;
}

tr.row-selected, tr.row-selected:nth-child(odd), tr.row-selected:nth-child(odd) td{
	background-color: lightsteelblue !important;
}

#loading-indicator {
	position: fixed;
	right: 25px;
	top: 65px;
	z-index: 100;
}
.loading-indicator-box {
	background: none repeat scroll 0 0 black;
    border-radius: 10px 10px 10px 10px;
    color: white;
    opacity: 0.8;
}
.well {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}