	<ul class="breadcrumb">
	    <li><a href="/services.html">Servicios</a><span class="divider">/</span></li>
	    <li class="active"><a href="/services/capacitacion.html">Capacitaci&oacute;n en Inform&aacute;tica</a></li>
    </ul>
	<div class="well">
		<p style="text-align: justify;"><img style="margin: 0px 4px 0px 0px; float: left; height:150px; width:200px;" alt="" src="{{ STATIC_URL }}images/services/capacitacion2.jpg">Eloquenti@ Solutions cuenta con un equipo especializado y con amplia experiencia en el desarrollo de soluciones empresariales y de entorno web, as&iacute; como en procesos de entrenamiento de personal y capacitaci&oacute;n en inform&aacute;tica. En este sentido nuestra empresa ha creado una academia para el entrenamiento de personas naturales o empresas que desean iniciar o perfeccionar sus capacidades t&eacute;cnicas y tecnol&oacute;gicas relacionadas con el desarrollo de software.&nbsp;</p>
		<p style="text-align: justify;">Como peculiaridad de este servicios de entrenamiento a diferencia de otros ofertados por otras empresas, el mismo tiene como objetivo ayudarle a independizarse tecnol&oacute;gicamente del soporte t&eacute;cnico y de infraestructura, as&iacute; como del uso de soluciones privativas.</p>
		<p style="text-align: justify;">En este sentido vale destacar que este plan de formaci&oacute;n solo utiliza soluciones y tecnolog&iacute;as libres basadas en c&oacute;digo abierto. Adem&aacute;s tiene como principio, no solo trasmitir los conocimiento, sino asistirlo durante todo el tiempo que el cliente lo demande, con el prop&oacute;sito de ayudarle a crear capacidades productivas que le permitan posteriormente trabajar con plena independencia. <br>Los empresarios inteligentes, cuyo negocio presentan una alta y estrat&eacute;gica demanda de infraestructura tecnol&oacute;gica y de tecnolog&iacute;as de informaci&oacute;n, consideran mas seguro crear sus propias capacidades de desarrollo y soporte a sus servicios y soluciones de gesti&oacute;n, que dejarlo contratado a terceros, puesto que garantiza mayor seguridad, estabilidad e independencia tecnol&oacute;gica, y por ende mayor garant&iacute;a para el correcto funcionamiento y adaptaci&oacute;n de su negocio.</p>
		<p style="text-align: justify;">Desde el punto de vista de los costos y las condiciones comerciales, nuestra empresa a creado un marco comercial, altamente faborable pensado para las empresas de menor capacidad econ&oacute;mica y con el objetivo de multiplicar en la mayor medida posible las tecnolog&iacute;as de software libre. Si desea conocer mas acerca del servicio, fa<strong>vor de contactar nuestro departamento comercial</strong></p>
		<h4>El plan tem&aacute;tico de formaci&oacute;n ha sido dise&ntilde;ado en tres grandes grupos de materias a impartir:</h4>
		<dl>
			<dd><span class="badge badge-warning">1</span><a class="service_link" href="../services/paq-teorico.html">Paquete Bases Te&oacute;ricas</a></dd>
			<dd><span class="badge badge-warning">2</span><a class="service_link" href="../services/paq-tecnologico.html">Paquete Tecnol&oacute;gicos</a></dd>
			<dd><span class="badge badge-warning">3</span><a class="service_link" href="../services/paq-infraestructura.html">Paquete Infraestructura</a></dd>
		</dl>
	</div>
	<div class="clear"></div>
	<script type="text/javascript">
		$('a.service_link,ul.breadcrumb li a').click(function(e) {
			History.pushState({state:null}, null, this.href);
			return false;
		});
	</script>
