	<ul class="breadcrumb">
	    <li><a href="/services.html">Servicios</a><span class="divider">/</span></li>
	    <li class="active"><a href="/services/consultoria_empresarial.html">Consultor&iacute;a Empresarial</a></li>
    </ul>
	<div class="well">
		<h2>Servicio Consultor&iacute;a Empresarial</h2>
		<p style="text-align: justify;"><img style="text-align: justify; margin: 0px 4px 0px 0px; float: left; height: 188px; width: 350px;" alt="traduccion5" src="{{ STATIC_URL }}images/services/consultoria.jpg">El servicio de <strong>consultor&iacute;a empresarial</strong> que brinda Eloquenti@ Solutions parte de la disciplina de la <strong>Arquitectura de Empresa</strong> y se basa en la metodolog&iacute;a <strong>TOGAF</strong>. Tiene un enfoque tecnol&oacute;gico y de procesos, y busca el objetivo de proyectar, desarrollar y administrar el plano de informatizaci&oacute;n de la empresa, para obtener mejores &iacute;ndices de calidad, productividad y organizaci&oacute;n empresarial, contribuyendo de manera estrat&eacute;gica a multiplicar las ventas y diversificar las fuentes de mercado.</p>
		<p style="text-align: justify;"><strong>Como se efect&uacute;a esta consultor&iacute;a?</strong></p>
		<p style="text-align: justify;">Para llevar a cabo la consultor&iacute;a nuestros especialistas han desarrollado un m&eacute;todo de diagnostico, que permite con herramientas sencillas y amenas, realizar en muy breve tiempo una revisi&oacute;n profunda de los procesos, objetivos, indicadores, riesgos, amenazas, debilidades, fortalezas y oportunidades presentes en el entorno interno y externo de la organizaci&oacute;n.&nbsp;</p>
		<p style="text-align: justify;">Este ejercicio no solo incluye el trabajo t&eacute;cnico de los consultores, sino provee un conjunto de talleres, conferencias y materiales formativos para los involucrados en el proceso de mejora, orientados a las tem&aacute;ticas de Arquitectura de Empresa, Gesti&oacute;n Empresarial, T&eacute;cnicas de direcci&oacute;n y Direcci&oacute;n Integrada de Proyecto. Es adem&aacute;s ofrecido al cliente otras &aacute;reas tem&aacute;ticas de formaci&oacute;n a demanda de sus intereses. Con estos talleres y encuentros orientados a la formaci&oacute;n del personal, nuestro equipo asegura poder normalizar conceptos e ideas asociados a la organizaci&oacute;n y esta disciplina del conocimiento, propici&aacute;ndole a todos los involucrados un conjunto de instrumentos y conocimientos que le permitir&aacute;n tener una mayor actividad dentro del proceso rector metodol&oacute;gico de la consultor&iacute;a que se intenta efectuar.</p>
		<p style="text-align: justify;">La consultor&iacute;a incluye tres fases obligatorias y dos opcionales, la primera fase esta enfocada en las relaciones entre los equipos, el diagnostico de la organizaci&oacute;n y la definici&oacute;n del plan de consultor&iacute;a, proyecto que regir&aacute; las pr&oacute;ximas etapas del proceso y que debe ser evaluado y validado por el cliente. Esta fase debe tener un tiempo estimado de 5 d&iacute;as.</p>
		<p style="text-align: justify;">La segunda fase se orienta a construir la arquitectura de empresa de la organizaci&oacute;n, y su duraci&oacute;n oscila entre 35 y 50 d&iacute;as dependiendo de la magnitud de la instituci&oacute;n an&aacute;lisis.</p>
		<p style="text-align: justify;">La ultima fase regular enmarca la evaluaci&oacute;n y valoraci&oacute;n de la consultor&iacute;a, as&iacute; como el cierre de la misma, esta fase debe tomar un tiempo de duraci&oacute;n no mayor a los 5 d&iacute;as.&nbsp;</p>
		<p style="text-align: justify;">Opcionales a estas tres faces, el servicio incluye dos nuevas etapas, que se efectuar&iacute;an en paralelo, una orientada a el entrenamiento del cliente en materias y tecnolog&iacute;as que contribuyan el elevar las capacidades t&eacute;cnico-profesionales de los recursos humanos de la empresa y su estructura administrativa. La segunda etapa opcional va orientado a la implementaci&oacute;n de la arquitectura de empresa. Ambas etapas basar&iacute;an su duraci&oacute;n en los respectivos planes de formaci&oacute;n e informatizaci&oacute;n que se acuerde en funci&oacute;n de las necesidades y capacidades del cliente.</p>

		<p style="text-align: justify;"><strong>Que resultados concretos se obtienen de este servicio?</strong></p>
		<p style="text-align: justify;">La consultor&iacute;a empresarial que provee Eloquenti@ tiene un enfoque pr&aacute;ctico y objetivo y por consiguiente as&iacute; son los resultados a esperar de la misma. Entre los principales resultados destacan:</p>
		<ul style="text-align: justify;">
			<li>Arquitectura de proceso de la empresa
				<ul>
					<li>Libro de procesos de la organizaci&oacute;n</li>
					<li>Mapas conceptuales</li>
					<li>Modelos de procesos</li>
					<li>Organigrama</li>
					<li>Roles y funciones</li>
					<li>Cadena de valor</li>
				</ul>
			</li>
			<li>Arquitectura de empresa</li>
			<li>Sistema de trabajo, control y direcci&oacute;n</li>
			<li>Informe del diagnostico
				<ul>
					<li>Matriz DAFO</li>
				</ul>
			</li>
			<li>Plan de acci&oacute;n y listado de recomendaciones para el proceso de mejora</li>
			<li>Plan de informatizaci&oacute;n y presupuesto de inversiones</li>
			<li>Plan de entrenamiento (opcional)</li>
			<li>Plan de implementaci&oacute;n de la arquitectura de empresa (opcional)</li>
		</ul>
		<p style="text-align: justify;"><strong>Que impacto arroja la consultor&iacute;a en al organizaci&oacute;n?</strong></p>
		<p style="text-align: justify;">Como beneficio de la consultor&iacute;a su organizaci&oacute;n tendr&aacute; una visi&oacute;n objetiva y pr&aacute;ctica de los problemas presentes en ella y un plan de acci&oacute;n que constituye una gu&iacute;a para transformar el estado de la misma.&nbsp;</p>
		<p style="text-align: justify;">Habr&aacute; introducido nuevas t&eacute;cnicas de liderazgo, control y direcci&oacute;n, reorganizado el aparato administrativo y funcional a partir del reordenamiento de los procesos, y contar&aacute; por primera vez posiblemente, con un plano de informatizaci&oacute;n basado en la arquitectura empresarial de la instituci&oacute;n que le permitir&aacute; planificar y escalar las inversiones en tecnolog&iacute;as de informaron de manera arm&oacute;nica e integral.&nbsp;</p>
		<p style="text-align: justify;">Estar&aacute; en condiciones de predecir y adelantarse mejor a los problemas esenciales de su instituci&oacute;n y contar&aacute; con un mayor nivel organizativo y de control. Habr&aacute; capacitado gran pare de tu aparato administrativo y contar&iacute;a con una empresa afiliada a su organizaci&oacute;n, que estar&iacute;a en condiciones de acompa&ntilde;arle si as&iacute; lo desea en el plan de mejoras, el proceso de implementaci&oacute;n de la transformaci&oacute;n organizacional y la informatizaci&oacute;n integral de la misma, con esquemas de financiamiento muy econ&oacute;micos y ventajosos para las partes, donde podr&iacute;a encontrar una alianza de colaboraci&oacute;n continua en funci&oacute;n de maximizar su mercado, la eficiencia de la organizaci&oacute;n y la calidad de sus servicios.</p>
	</div>
	<div class="clear"></div>
	<script type="text/javascript">
		$('ul.breadcrumb li a').click(function(e) {
			History.pushState({state:this}, null, this.href);
			return false;
		});
	</script>