	<ul class="breadcrumb">
	    <li><a href="/services.html">Servicios</a><span class="divider">/</span></li>
	    <li class="active"><a href="/services/desarrollo_software.html">Desarrollo de Software</a></li>
    </ul>
	<div class="well">
		<h2>Desarrollo de software</h2>
		<p style="text-align: justify;">En Eloquenti@ el servicio de desarrollo de software est&aacute; enfocado a tres tecnol&oacute;gicas b&aacute;sicamente,<strong> python, java y php</strong>. Es un principio de nuestra empresa desarrollar bajo el paradigma del software libre.&nbsp;</p>
		<p style="text-align: justify;"><strong>En que consiste el servicio de desarrollo a la medida que ofrecemos?</strong></p>
		<p style="text-align: justify;">El mismo se centra en construir desde cero, integrar o personalizar alguna tecnol&oacute;gica o producto en funci&oacute;n de las necesidades del cliente.</p>
		<p style="text-align: justify;"><strong>Como se ejecuta un desarrollo de software a la medida con Eloquenti@ Solutions SA de CV?</strong></p>
		<p style="text-align: justify;"><img style="border: 0px solid black; margin: 0px 4px 0px 0px; display: block; float: left; height:150px; width:367px;" alt="" src="{{ STATIC_URL }}images/services/scrum_process2.png">Por la importancia que reviste en las relaciones con el cliente y la garant&iacute;a de culminaci&oacute;n de forma satisfactoria de los proyectos que ejecuta, nuestra empresa asimilo un m&eacute;todo de desarrollo de software &aacute;gil y auto gestionado, conocido como Scrum. El mismo garantiza que el proyecto entregue al cliente de manera inamovible resultados funcionales del desarrollo cada 20 d&iacute;as, de modo que este pueda controlar de una mejor manera los cronogramas de ejecuci&oacute;n, los objetivos de automatizaci&oacute;n y los presupuesto de gasto del proyecto, impidi&eacute;ndose con las t&eacute;cnicas que provee esta metodolog&iacute;a, no solo la morosidad en las entregas o problemas funcionales de alto impacto en la soluci&oacute;n de software, sino posibilita una comunicaci&oacute;n continuada, clara y confiable entre todas las partes involucradas en el proyecto.</p>
		<p style="text-align: justify;"><strong>Que tipo de desarrollo est&aacute;n incluidos en este servicios?</strong></p>
		<p style="text-align: justify;">Nuestra empresa ha creado seis lineas de desarrollo o tipolog&iacute;a de soluci&oacute;n de software, por las diferencias que cada una de ellas reviste a parir de la naturaleza con que son creadas, las que son denominadas por:</p>
		<p style="text-align: justify;"><strong>Intranet Corporativa</strong></p>
		<p style="text-align: justify;"><img style="border: 0px solid black; margin: 0px 0px 0px 4px; display: block; float: right; height:160px; width:369px;" alt="" src="{{ STATIC_URL }}images/services/intranet2.png">Soluciones orientadas a la gesti&oacute;n del conocimiento de las organizaciones, en la que se exponen en modo de servicios a la red interna de la organizaci&oacute;n mediante una aplicaci&oacute;n Web, todos los procesos, tramites, informaciones y documentos que constituyen el trabajo diario de la instituci&oacute;n. Entre los servicios que se incluyen en una intranet destacan mensajer&iacute;a interna, correo, foro, blog, nominas salariales, archivo digital y gesti&oacute;n documental, espacio de noticias y eventos, directorio de personas, directorio de recursos f&iacute;sicos, servicio de reservaciones, control de vacaciones, control de asistencia, control de reuniones, actas, acuerdos, directorio de recursos digitales entre otros muchos</p>
		<p style="text-align: justify;"><strong>Portales corporativos o promocionales</strong></p>
		<p style="text-align: justify;"><img style="border: 0px solid black; text-align: justify; margin: 0px 4px 0px 0px; display: block; float: left; height:180px; width:222px;" alt="" src="{{ STATIC_URL }}images/services/portal2.png">Soluciones Web orientadas a publicitar el objeto social de la organizaci&oacute;n, sus fuentes de contacto, su historia, los productos y servicios, casos de &eacute;xito, clientes, entre otros elementos, siempre con la finalidad de incrementar las posibilidades comerciales de esta. El objetivo del mismo es posicionar la visi&oacute;n y la presencia de una organizaci&oacute;n en el mercado virtual de internet. En este sentido las soluciones de Eloquenti@ no se basan solamente en desarrollar el portal y entregarlo en tiempo, el servicio se acompa&ntilde;a de la implementaci&oacute;n de todas las t&eacute;cnicas <a in_rurl="http://i.trkjmp.com/click?v=TVg6MjgyMjY6NjU3OnNlbzo5YmZkNzQ3ODI4ZTc4OGQyOTU5NTVmZDI3ZmM3OTU5Njp6LTEzOTktMTczNzA3OmVsb3F1ZW50aWEuY29tLm14OjIxNTc0OjkwNDVkNGNmYWVlNzZhYTkyMGNhZmY5YzVkYzYzZmI5" href="#" style="text-decoration:underline" id="_GPLITA_0" title="Click to Continue > by Browse to Save">SEO</a> natural para que la informaci&oacute;n publicada en el portal sea reconocida por los buscadores y obtenga r&aacute;pida notoriedad en internet. Otro elemento que Eloquenti@ facilita en el desarrollo de los Portales corporativos a los clientes es el soporte t&eacute;cnico y el servicio de web m&aacute;ster durante todo un ano, las modificaciones estructurales, funcionales o estil&iacute;sticas cada vez que el cliente lo demande, as&iacute; como la implementaci&oacute;n de toda una estrategia de marketing y posicionamiento con las principales fuentes de promoci&oacute;n y redes sociales existentes, incluyendo la integraci&oacute;n con estas si el cliente lo demanda</p>
		<p style="text-align: justify;"><strong>Cat&aacute;logos virtuales de productos o Tiendas virtuales</strong></p>
		<p style="text-align: justify;">Soluciones web basadas en tecnolog&iacute;as especializadas en mercadotecnia y comercio electr&oacute;nico. Posibilitan la creaci&oacute;n de cat&aacute;logos promocionales de productos y servicios de la organizaci&oacute;n, incluyendo entre otras muchas posibilidades, la capacidad de crear plantillas de productos, productos compuestos, variantes de productos, mecanismos de contacto especializados, comentarios entre cliente y proveedor sobre los productos, mecanismos de control y gesti&oacute;n de tarifas.&nbsp;</p>
		<p style="text-align: justify;">Estas soluciones incluyen adem&aacute;s varias opciones de mecanismos de pago, control de almac&eacute;n, mecanismos de distribuci&oacute;n y transporte, as&iacute; como el control del cliente, manejo estad&iacute;sticos de este, y control del proceso de facturaci&oacute;n y cobro, incluyendo los respectivos motores estad&iacute;sticos que permiten realizar una an&aacute;lisis en tiempo real, objetivo y muy simple del estado de las compras, el mercado, los productos, su stock, entre otras muchas posibilidades.&nbsp;</p>
		<p style="text-align: justify;">En este punto Eloquenti@ garantiza adem&aacute;s si el cliente as&iacute; lo demanda, la integraci&oacute;n de estas plataformas a los sistemas de gesti&oacute;n contables o ERP que la empresa &nbsp;haya asumido, o incluso le provee una propuesta integral que incluye la integraci&oacute;n de sus tecnolog&iacute;as de comercio electr&oacute;nico con una configuraci&oacute;n ERP basada en OpenERP, construida a partir de las caracter&iacute;sticas y necesidades de la empresa cliente</p>
		<p style="text-align: justify;">&nbsp;<strong>Soluciones de gesti&oacute;n empresarial</strong></p>
		<p style="text-align: justify;">Constituyen soluciones de prop&oacute;sito especifico cuyas caracter&iacute;sticas funcionales quedan enmarcadas en las necesidades de automatizaci&oacute;n de los procesos del cliente. Ejemplo soluciones especificas para el control de inversiones, o la gesti&oacute;n del proceso de contrataci&oacute;n de una organizaci&oacute;n dedicada a los servicios.&nbsp;</p>
		<p style="text-align: justify;">En variadas ocasiones son soluciones que gestionan bases de datos locales que el cliente crea para administrar determinados procesos internos o espec&iacute;ficos de su organizaci&oacute;n. En este sentido Eloquenti@ brinda tres posibilidades, el primero constituye el desarrollo de la soluci&oacute;n en si.</p>
		<p style="text-align: justify;">Una segunda variante quedar&iacute;a constituida por el desarrollo de la arquitectura empresarial de la organizaci&oacute;n, del que se parte entonces para desarrollar la integraci&oacute;n de todas las aplicaciones en una base de datos &uacute;nica o almac&eacute;n de datos, a partir del cual se pueden montar los reportes y tableros de control orientado a los distintos niveles de toma de decisi&oacute;n de la empresa.&nbsp;</p>
		<p style="text-align: justify;">La tercera variante partir&iacute;a igual de la construcci&oacute;n de la arquitectura de empresa de la organizaci&oacute;n, pero permitir&iacute;a migrar todos las aplicaciones y servicios automatizados de la empresa, en una soluci&oacute;n integral &uacute;nica, que concentrar&iacute;a la automatizaci&oacute;n de todos los procesos de la organizaci&oacute;n, us&aacute;ndose para esto como tecnolog&iacute;a base<strong> OpenERP</strong>.&nbsp;</p>
		<p style="text-align: justify;"><strong>Desarrollo para m&oacute;viles</strong></p>
		<p style="text-align: justify;"><img style="border: 0px solid black; text-align: justify; margin: 4px 0px 0px 4px; float: right; height:90px; width:131px;" alt="" src="{{ STATIC_URL }}images/services/android.png">Otros de los desarrollos que provee Entelequi@ es el desarrollo de soluciones para m&oacute;viles que corran sobre plataforma Android, en este sentido, se ejecutan desarrollos desde cero, aplicativos integrados a otras tecnolog&iacute;as o se migran o reimplantan soluciones ya existentes del entorno Android o de cualquier otro soporte tecnol&oacute;gico para moviles existentes</p>
		<p style="text-align: justify;"><strong>Desarrollo de soluciones de inteligencia de negocio</strong></p>
		<p style="text-align: justify;"><img style="border: 0px solid black; margin: 0px 4px 0px 0px; float: left; height:210px; width:258px;" alt="" src="{{ STATIC_URL }}images/services/bi4.png">Nuestra empresa cuanta adem&aacute;s con un equipo altamente especializado en soluciones de inteligencia de negocio, orientadas a la creaci&oacute;n, administraci&oacute;n, migraci&oacute;n y procesamiento de altos vol&uacute;menes de datos, us&aacute;ndose como base tecnol&oacute;gica la plataforma libre<strong> BI Pentaho</strong>.&nbsp;</p>
		<p style="text-align: justify;">Estas soluciones dan como valor agregado, la posibilidad de integrar en una base de datos &uacute;nica y redundante, varias fuentes de informaci&oacute;n (hojas de c&aacute;lculos, bases de datos, ficheros csv, etc), sin necesidad de que el cliente deba crear nuevos desarrollos o deba cambiar sus instrumentos de captura de informaci&oacute;n y gesti&oacute;n. A partir de esta base de datos concentradora de informaci&oacute;n Eloquenti@ podr&iacute;a crear un espacio &uacute;nico centralizado para la emisi&oacute;n de reportes, generaci&oacute;n de informes estad&iacute;sticos y tableros de control de la de los procesos de la organizaci&oacute;n, constituyendo esta un instrumento muy valioso para la toma de decisiones en la empresa cliente.</p>
    </div>
	
	<div class="clear"></div>
	<script type="text/javascript">
		$('ul.breadcrumb li a').click(function(e) {
			History.pushState({state:this}, null, this.href);
			return false;
		});
	</script>