	<ul class="breadcrumb">
	    <li><a href="/services.html">Servicios</a><span class="divider">/</span></li>
	    <li class="active"><a href="/services/identidad_diseno_posicionamiento.html">Identidad Corporativa, Dise&ntilde;o Gr&aacute;fico, Campa&ntilde;as de Marketing y Posicionamiento Web</a></li>
    </ul>
	<div>
		<div class="well">
			<h2>Identidad corporativa, dise&ntilde;o gr&aacute;fico, campa&ntilde;as de marketing y posicionamiento web</h2>

			<p style="text-align: justify;"><img style="text-align: justify; margin: 0px 4px 0px 0px; float: left; width:422px; height: 230px;" alt="diseno" src="{{ STATIC_URL }}images/services/diseno_grafico.png"></p>
			<p style="text-align: justify;">En eloquenti@ solutions hemos desarrollado un servicio especializado en el uso de tecnolog&iacute;as de informaci&oacute;n, t&eacute;cnicas de&nbsp;dise&ntilde;o Web, dise&ntilde;o gr&aacute;fico y la gesti&oacute;n comunicacional, con el objetivo de aumentar las notoriedad de la empresa y sus productos y servicios en la red, desarrollar el mercado e incrementar las ventas.</p>
			<p style="text-align: justify;">Analizamos su negocio, su competencia y su p&uacute;blico objetivo. Lo asesoramos sobre la estrategia comunicacional y la identidad corporativa m&aacute;s id&oacute;nea. Le asistimos en las estrategias de visibilidad en la Web, definici&oacute;n de las mejores palabras claves para sus portales, tiendas y cat&aacute;logos y efectuamos t&eacute;cnicas SEO para mejorar el posicionamiento web y as&iacute; mejorar la rentabilidad de su emprendimiento. Para lograr esto nuestros especialistas centran su radio de acci&oacute;n en dos frentes fundamentales, trabajar con la Imagen Corporativa de la organizaci&oacute;n, una correcta estrategia de posicionamiento y un dise&ntilde;o web especializado, competente y profesional</p>
		</div>

		<div class="well">
			<h2>La imagen Corporativa de la empresa es fundamental para llegar con total confianza a los mercados</h2>
			<p style="text-align: justify;">La imagen corporativa se muestra en todo lo que una empresa hace o representa y no solamente en el logotipo. El tener una sinergia entre todos los elementos necesarios para afianzar lo que la empresa es y quiere dar a conocer.</p>
			<p style="text-align: justify;">Por ejemplo : una persona elegante y pulcra, cuando se viste por la ma&ntilde;ana, trata de elegir su ropa de forma que los colores, tejidos y estilos combinen entre s&iacute;. Pero no se limita a esto; de hecho combina con su ropa un determinado tipo de zapatos, de accesorios, pulsera, tela, etc. En definitiva, todo es conjugado para proyectar su visi&oacute;n del mundo y de como quiere que sea percibido en este.</p>
			<p style="text-align: justify;">La misma filosof&iacute;a regula el comportamiento de las empresas; estas incluso, para mantener un cierto estilo, deben procurar reglamentar todas las expresiones en las que se mezcla su imagen (cartas, r&oacute;tulos externo, medios de transportes, etc) por este motivo, es fundamental recurrir a un experto en el &aacute;rea para que estudie el programa de imagen de la empresa.</p>
			<p style="text-align: justify;">Una correcta identidad corporativa incluye adem&aacute;s las disposiciones para todos los elementos externos, los escaparates, los medios de transporte y las estructuras expositivas (decoraci&oacute;n de las oficinas y colores dominantes), tan complicado resulta el trabajo que para las grandes empresa crear una imagen corporativa en ocasiones requiere a&ntilde;os.</p>
			<p style="text-align: justify;">Una buena imagen corporativa es una excelente manera de comunicar, la imagen corporativa de una empresa es uno de sus m&aacute;s importantes elementos de ventas.&nbsp;En mercado tan competitivo y cambiante. La imagen corporativa es un elemento definitivo de diferenciaci&oacute;n y posicionamiento.&nbsp;As&iacute; como las empresas deben adecuarse a los cambios con una velocidad y profundidad, jam&aacute;s vista, de igual manera deber&aacute; adecuar su imagen, para transmitir dichos cambios.&nbsp;La imagen corporativa es la manera por la cual trasmite, qui&eacute;n es, qu&eacute; es, qu&eacute; hace y como lo hace. El dise&ntilde;o coordinado de los diferentes agentes de comunicaci&oacute;n, har&aacute; que la imagen sea correctamente transmitida, al mercado o cliente deseado.</p>
			<p style="text-align: justify;">Una correcta imagen nos da una optimizaci&oacute;n de recursos, dado que tanto los empaques, como la publicidad, los uniformes, el mobiliario y la papeler&iacute;a, son elementos necesarios de todos modos para el funcionamiento de una empresa. Al transformarlos a su vez en agentes de comunicaci&oacute;n, se rentabilizan al m&aacute;ximo lo que se invierte.</p>
		</div>

		<div class="well">
			<h2>Posicionamiento Web, investigaci&oacute;n y an&aacute;lisis de Keywords</h2>
			<p style="text-align: justify;"><img style="float: right; height:170px; width:270px;" alt="" src="{{ STATIC_URL }}images/services/seo.png">En los negocios en internet, entender que te diferencia de tu competencia, as&iacute; como, lo que le interesa e influencia a tus prospectos y la forma en que te ven o buscan en l&iacute;nea es indispensable para elegir los Keywords adecuados, una buena identidad comunicacional y para definir las metas desde el primer d&iacute;a, y con ello lograr hacer que tu informaci&oacute;n sea consumida en la web, por el publico correcto.</p>
			<h4><strong>Estructura Web</strong></h4>
			<p style="text-align: justify;">Tu sitio web puede parecer agradable a la vista, pero si no ofrece una experiencia amigable para el usuario, los buscadores no logran digerir el contenido de la misma, y el resultado es que no le dan notorierad y por ende pierde visibilidad en la web. Nuestro enfoque de SEO incluye an&aacute;lisis t&eacute;cnicos continuos basados en la experiencia del usuario para determinar, como es que los factores dentro del sitio contribuyen al ranking. Con estos conocimientos y un proceso sistemico de mantenimiento que ofrece nuestro servicio garantizamos mejoras continuas del sitio que incluyen:</p>
			<dl>
				<dd><span class="badge badge-warning">1</span>Asignaci&oacute;n de Keywords</dd>
				<dd><span class="badge badge-warning">2</span>Buen uso de t&iacute;tulos y meta descripciones</dd>
				<dd><span class="badge badge-warning">3</span>Exactitud en el HTML y Sitemaps XML</dd>
				<dd><span class="badge badge-warning">4</span>Estructura interna de v&iacute;nculos</dd>
				<dd><span class="badge badge-warning">5</span>Arquitectura web y programaci&oacute;n</dd>
				<dd><span class="badge badge-warning">6</span>Buen uso de dominios y redireccionamientos</dd>
				<dd><span class="badge badge-warning">7</span>Presencia de p&aacute;ginas 404</dd>
				<dd><span class="badge badge-warning">8</span>En promedio, a trav&eacute;s de Google se realizan m&aacute;s de 2 billones de b&uacute;squedas diarias de productos y servicios. &uacute;nicamente los primeros puestos son los que se benefician de ese tr&aacute;fico.</dd>
			</dl>
			<p style="text-align: justify;">Eloquenti@ implementa t&eacute;cnicas &eacute;ticas avanzadas para otorgarte un posicionamiento web que te garantizar&aacute; un mayor flujo de seguidores calificados a su p&aacute;gina web. Con un mayor n&uacute;mero de visitas y mejor calificadas puedes asegurarte que su empresa tendr&aacute; un aumento significativo de las ventas.</p>
			<p style="text-align: justify;">Las principales t&eacute;cnicas que trabajamos para garantizar el posicionamiento de su web son:</p>
			<dl>
				<dd><span class="badge badge-warning">1</span>Estrategias offline del sitio web para mayor acceso de los motores de b&uacute;squeda.</dd>
				<dd><span class="badge badge-warning">2</span>An&aacute;lisis de palabras claves.</dd>
				<dd><span class="badge badge-warning">3</span>Estrategias de captaci&oacute;n de links entrantes: link building y link baiting</dd>
				<dd><span class="badge badge-warning">4</span>Situaci&oacute;n con respecto a competidores y an&aacute;lisis SEO</dd>
				<dd><span class="badge badge-warning">5</span>Recomendaci&oacute;n de cambios en c&oacute;digo fuente del sitio (Optimizaci&oacute;n web)</dd>
				<dd><span class="badge badge-warning">6</span>Generaci&oacute;n de Site Map, tags, metatags y archivo robot (robot.txt)</dd>
				<dd><span class="badge badge-warning">7</span>Evaluaci&oacute;n mensual y control de resultados</dd>
			</dl>
			<p style="text-align: justify;">Nuestra estrategia, le permitir&aacute; a su empresa un posicionamiento confiable en su mercado local u internacional lo que se vera reflejado en:</p>
			<dl>
				<dd>Mayor conversi&oacute;n de ventas</dd>
				<dd>Mayor presencia de la marca (branding)</dd>
				<dd>Aumento del tr&aacute;fico y tr&aacute;fico de calidad</dd>
			</dl>
			<p style="text-align: justify;">Entre los servicios orientados a lograr un aumento de las ventas de su organizacion y una transformacion en las estrategias comerciales y de marketing destacan como los m&aacute;s significativos:</p>
		</div>

		<div class="well">
			<h2>Dise&ntilde;o identidad corporativa</h2>
			<p><strong>Objetivo:</strong> Destacar la imagen de la empresa con una identidad corporativa profesional<br>La comunicaci&oacute;n con los clientes, comienza con la imagen corporativa de la empresa. En Eloquenti@ Solutions, se provee un servicio profesional que permitir&aacute; que la identidad corporativa de su organizaci&oacute;n no pase desapercibida ante los clientes y usuarios.</p>
			<p style="text-align: justify;">Te ofrecemos un dise&ntilde;o profesional, garantiz&aacute;ndote transmitir una imagen solida y atractiva que tiene en cuenta desde el eslogan de la organizaci&oacute;n, hasta la firma de hoja de los documentos oficiales que la misma emite.<br>Dise&ntilde;aremos una imagen coherente con la l&iacute;nea de productos y servicios que ofrece su empresa y a fin con la filosof&iacute;a, valores y actividad de la misma.<br>Que comprende el servicio de identidad corporativa?</p>
			<dl style="list-style-type: disc;">
				<dd style="text-align: justify;">Dise&ntilde;o de logotipos, diferenciaci&oacute;n de marcas, definici&oacute;n de eslogan y nombre</dd>
			</dl>
			<p style="text-align: justify;">Tu logotipo ser&aacute; la imagen (isotipo) que te acompa&ntilde;ar&aacute; durante todo el crecimiento y desarrollo de su actividad. Si a&uacute;n no tienes un dise&ntilde;o de logotipo profesional, es m&aacute;s que probable que su competencia ya lo tenga, y de esta manera, tus posibles clientes optar&aacute;n por una empresa con una imagen que transmita la seguridad y confianza que buscan.<br>Con un logotipo profesional, reflejar&aacute;s tanto la actividad, como la filosof&iacute;a empresarial generando una mayor confianza de los futuros clientes.</p>
			<dl style="list-style-type: disc;">
				<dd style="text-align: justify;">Dise&ntilde;o de papeler&iacute;a</dd>
			</dl>
			<p style="text-align: justify;">Un dise&ntilde;o de papeler&iacute;a de calidad, transmitir&aacute; los valores de su marca de forma directa y clara. Te ayudaremos a reforzar los valores de su compa&ntilde;&iacute;a, con cada elemento visual en donde aparezca su logotipo.<br>Desarrollaremos una creatividad exclusiva, seria y profesional para tus presentaciones comerciales, facturas, cartas, sobres, tr&iacute;pticos, dipcticos, etc...<br>Nuestra oferta de dise&ntilde;o de papeler&iacute;a integral incluye los siguientes elementos, aunque pueden ser incorporados nuevos elementos si as&iacute; lo demanda.<br>Tarjetas de visita, Sobres, Carpetas y Hojas membradas, prefecturas y facturas, encabezados y pies de firma de correos y cartas</p>
		</div>

		<div class="well">
			<h2>Dise&ntilde;o web a la medida</h2>
			<p style="text-align: justify;"><strong>Dise&ntilde;o de Blogs</strong><br>Ponemos en marcha su blog corporativo, profesional o personal, adaptado a su imagen corporativa. Utiliza las potencialidades comunicacionales de las tecnolog&iacute;as blog, para mantener informados a tus clientes, con las &uacute;ltimas novedades, servicios y productos de su empresa. En este sentido ofrecemos tambi&eacute;n servicio de edici&oacute;n y producci&oacute;n documental de su blog, apoy&aacute;ndonos en nuestro equipo editorial y de escritores especializado en estos medios de comunicaci&oacute;n.<br>El blog de su empresa le permitir&aacute; comunicarse "impersonalmente" con sus clientes, inform&aacute;ndolos de las noticias de la empresa, productos, servicios, manteniendo el contacto con sus clientes consiguiendo "que lo recuerden".</p>
			<p style="text-align: justify;">El dise&ntilde;o de un blog adem&aacute;s nos ayudar&aacute; en el posicionamiento web org&aacute;nico en Google, de tal manera que cada uno de los post que redactemos, estaremos trabajando el posicionamiento de una o varias palabras clave de b&uacute;squeda en Google.<br>Para poner en marcha su blog utilizaremos la extendida tecnolog&iacute;a wordpress, ya que cuenta con un sistema potente de temas (dise&ntilde;os) y plugings personalizables y de r&aacute;pida implementaci&oacute;n.</p>
			<p style="text-align: justify;"><strong>Dise&ntilde;o Web</strong> coportativo<br>El dise&ntilde;o web corporativo te permitir&aacute; dar a conocer su empresa las 24 Hs. del d&iacute;a, en cualquier parte del mundo. Expande su negocio y consigue nuevos clientes a trav&eacute;s de internet. Desarrollamos proyectos llave en mano, publicando en internet su web con su propio dominio (suempresa.com), hosting, cuentas de e-mails y alta en buscadores. Leer mas "Se sorprender&aacute; de lo econ&oacute;mico y rentable que puede ser internet para su empresa..."</p>
			<p style="text-align: justify;">&iquest; C&oacute;mo podr&iacute;an ser el dise&ntilde;o Web de mi empresa?</p>
			<dl>
				<dd style="text-align: justify;"><span class="badge badge-warning">Opci&oacute;n 1</span> Podr&aacute; elegir su dise&ntilde;o, con m&aacute;s de 10.000 plantillas categorizadas por &aacute;reas de negocio. Una vez seleccionada, nosotros nos encargaremos de la carga del contenido, logotipos, banners, im&aacute;genes y puesta en marcha.</dd>
				<dd style="text-align: justify;"><span class="badge badge-warning">Opci&oacute;n 2</span> Dise&ntilde;amos su p&aacute;gina web corporativa a medida. Nuestros creativos har&aacute;n un estudio de marca, target de cliente, tipo de producto y servicios ofrecidos, contenido, y se comenzara con el proceso de creatividad. Se presentaran hasta 2 propuestas creativas (bocetos) diferentes, y se aplicaran hasta 3 tandas de revisiones sobre la propuesta de dise&ntilde;o que escoja.</dd>
			</dl>
			<p style="text-align: justify;">&iquest; Qu&eacute; incluye el servicio de dise&ntilde;o Web corporativo?</p>
			<dl>
				<dd><span class="badge badge-warning">1</span>Asesoramiento en elecci&oacute;n de plantilla *(opci&oacute;n de dise&ntilde;o 1)</dd>
				<dd><span class="badge badge-warning">2</span>Dise&ntilde;o a medida con fase de creatividad *(opci&oacute;n de dise&ntilde;o 2)</dd>
				<dd><span class="badge badge-warning">3</span>Maquetaci&oacute;n y carga de contenidos HTML. EJ: Quienes somos, servicios, clientes, etc.</dd>
				<dd><span class="badge badge-warning">4</span>Formulario de contacto.</dd>
				<dd><span class="badge badge-warning">5</span>Creaci&oacute;n de p&aacute;gina en Facebook y conexi&oacute;n con su web corporativa.</dd>
				<dd><span class="badge badge-warning">6</span>Creaci&oacute;n de p&aacute;gina en Google+ y conexi&oacute;n con su web corporativa.</dd>
				<dd><span class="badge badge-warning">7</span>Gestor de contenidos con posibilidad de creaci&oacute;n de ilimitadas p&aacute;ginas de contenido.</dd>
				<dd><span class="badge badge-warning">8</span>Alta gratuita de su p&aacute;gina web en los principales buscadores Google y Yahoo</dd>
				<dd><span class="badge badge-warning">9</span>Registro de dominio .com .es .net gratuito el primer a&ntilde;o.</dd>
				<dd><span class="badge badge-warning">10</span>Plan de Hosting y asesoramiento t&eacute;cnico durante los primeros 3 meses.</dd>
				<dd><span class="badge badge-warning">11</span>P&aacute;ginas de avisos legales y t&eacute;rminos de uso (contenido facilitado por cliente).</dd>
				<dd><span class="badge badge-warning">12</span>Estad&iacute;sticas de visitas Google analytics.</dd>
				<dd><span class="badge badge-warning">13</span>Garant&iacute;a total de 12 meses.</dd>
			</dl>
			<p style="text-align: justify;"><strong>Dise&ntilde;o Web catalogo</strong><br>Con el dise&ntilde;o web cat&aacute;logo podr&aacute;s ofrecer en l&iacute;nea las 24 Hs, los 365 d&iacute;as del a&ntilde;o, el cat&aacute;logo de productos y servicios a tus clientes. La web cat&aacute;logo cuenta con gestor de contenidos que te permitir&aacute; dar de alta, baja o modificar productos, destacarlos en la portada principal de la web si lo deseas, y quedando actualizados instant&aacute;neamente en su web cat&aacute;logo. Incluye sistema de noticias, en donde podr&aacute;s ir publicando las &uacute;ltimas novedades sobre tus productos y compa&ntilde;&iacute;a de manera muy sencilla.</p>
			<p style="text-align: justify;">&iquest;Que incluye el servicio de dise&ntilde;o Web de cat&aacute;logo?</p>
			<dl>
				<dd><span class="badge badge-warning">1</span>Asesoramiento en la elecci&oacute;n del predise&ntilde;o y adaptaci&oacute;n de contenidos, im&aacute;genes y logotipos.</dd>
				<dd><span class="badge badge-warning">2</span>Maquetaci&oacute;n de p&aacute;ginas HTML EJ: Quienes somos, servicios, productos, trabajos, etc.</dd>
				<dd><span class="badge badge-warning">3</span>Cat&aacute;logo de productos autogestionable. Categor&iacute;as y sub categor&iacute;as. Alta gratuita de su p&aacute;gina web en los principales buscadores Google y Yahoo.</dd>
				<dd><span class="badge badge-warning">4</span>Estad&iacute;sticas de visitas Google analytics.</dd>
				<dd><span class="badge badge-warning">5</span>Registro de dominio .com .es .net gratuito el primer a&ntilde;o.</dd>
				<dd><span class="badge badge-warning">6</span>Plan de Hosting y asesoramiento t&eacute;cnico gratis durante el primer a&ntilde;o.</dd>
				<dd><span class="badge badge-warning">7</span>P&aacute;ginas de avisos legales y t&eacute;rminos de uso.</dd>
				<dd><span class="badge badge-warning">8</span>Puesta en marcha de la web de una semana, una vez escogida la plantilla y recibido todo el material para realizar la p&aacute;gina web.</dd>
				<dd><span class="badge badge-warning">9</span>Garant&iacute;as de 12 meses.</dd>
			</dl>
		</div>


		<div class="well">
			<h2>Posicionamiento Web en buscadores</h2>
			<strong>Objetivo:</strong>&nbsp;Conseguir nuevos clientes a partir del posicionamiento de las soluciones Web de la empresa<br>Modo de aplicaci&oacute;n del servicio:</p>
			<dl>
				<dd><span class="badge badge-warning">1</span><strong>Pago por CLIC</strong> (Tambi&eacute;n conocido como SEM, enlaces patrocinadores, Adwords, PPC)</dd>
				<dd><span class="badge badge-warning">2</span><strong>SEO&nbsp;</strong>(posicionamiento natural, posicionamiento org&aacute;nico)</dd>
				<dd><span class="badge badge-warning">3</span><strong>Alta en buscadores y directorios&nbsp;</strong>(Este servicio permite generar indexes de referencia y distribuci&oacute;n de trafico hacia su Web)</dd>
			</dl>
		</div>

	</div>

	<div class="clear"></div>
	<script type="text/javascript">
		$('ul.breadcrumb li a').click(function(e) {
			History.pushState({state:this}, null, this.href);
			return false;
		});
	</script>