	<ul class="breadcrumb">
	    <li class="active"><a href="/services.html">Servicios</a></li>
    </ul>
	<div >
		<div class="well">
			<h4>Servicio Consultor&iacute;a Empresarial</h4>
			<p style="text-align: justify;"><img style="text-align: justify; margin: 0px 4px 0px 0px; float: left; height: 140px; width: 260px;" alt="consultoria" src="{{ STATIC_URL }}images/services/consultoria.jpg">El servicio de
				<strong>consultor&iacute;a empresarial</strong> que brinda Eloquenti@ Solutions parte de la disciplina de la <strong>Arquitectura de Empresa</strong> y se basa en la metodolog&iacute;a <strong>TOGAF</strong>.
				Tiene un enfoque tecnol&oacute;gico y de procesos, y busca el objetivo de
				proyectar, desarrollar y administrar el plano de informatizaci&oacute;n de la
				empresa, para obtener mejores &iacute;ndices de calidad, productividad y
				organizaci&oacute;n empresarial, contribuyendo de manera estrat&eacute;gica a
				multiplicar las ventas y diversificar las fuentes de mercado.
			</p>
			<br>
			<a class="btn service_link btn-success" href="../services/consultoria_empresarial.html"><i class="icon-zoom-in"></i>Leer m&aacute;s</a>
			<a class="btn btn-success product_contact" href="/contact.html" role="button"
				data-toggle="modal" data-target="#modal_div" title="Cont&aacute;ctenos para solicitar un servicio ajustado a sus necesidades"><i class="icon-fullscreen"></i>Cotizar</a>
		</div>

		<div class="well">
			<h4>Desarrollo de software</h4>
			<p style="text-align: justify;"><img style="text-align: justify; margin: 0px 4px 0px 0px; float: left; height: 140px; width: 260px;" alt="desarrollo_software" src="{{ STATIC_URL }}images/services/desarrollo_software.png">En Eloquenti@
				el servicio de desarrollo de software est&aacute; enfocado a tres tecnol&oacute;gicas b&aacute;sicamente,<strong> python, java y php</strong>. Es un principio de nuestra empresa desarrollar bajo el paradigma del software libre.
				<br><br><strong>¿En que consiste el servicio de desarrollo a la medida que ofrecemos?</strong>
				El mismo se centra en construir desde cero, integrar o personalizar alguna tecnol&oacute;gica o producto en funci&oacute;n de las necesidades del cliente.
			</p>
			<a class="btn service_link btn-success" href="../services/desarrollo_software.html"><i class="icon-zoom-in"></i>Leer m&aacute;s</a>
			<a class="btn btn-success product_contact" href="/contact.html" role="button"
				data-toggle="modal" data-target="#modal_div" title="Cont&aacute;ctenos para solicitar un servicio ajustado a sus necesidades"><i class="icon-fullscreen"></i>Cotizar</a>
		</div>

		<div class="well">
			<h4>Servicios de traducci&oacute;n y subtitulado</h4>
			<p style="text-align: justify;"><img style="text-align: justify; margin: 0px 4px 0px 0px; float: left; height: 140px; width: 260px;" alt="traduccion" src="{{ STATIC_URL }}images/services/traduccion.png" >Eloquenti@
			 Solutions cuenta con un equipo de traductores altamente calificados, lo
			 que nos permite ofrecer una excelente variedad de <strong>servicios de traducci&oacute;n</strong>
			 <br><br><strong>Servicios de traducci&oacute;n Profesional</strong>
			Consiste en el servicio de traducci&oacute;n de documentos del/al <strong>espa&ntilde;ol, ingl&eacute;s, franc&eacute;s, alem&aacute;n, italiano, portugu&eacute;s, ruso y japon&eacute;s</strong> con las siguientes caracter&iacute;sticas:</p>
			<a class="btn service_link btn-success" href="../services/traduccion_subtitulado.html"><i class="icon-zoom-in"></i>Leer m&aacute;s</a>
			<a class="btn btn-success product_contact" href="/contact.html" role="button"
				data-toggle="modal" data-target="#modal_div" title="Cont&aacute;ctenos para solicitar un servicio ajustado a sus necesidades"><i class="icon-fullscreen"></i>Cotizar</a>
		</div>

		<div class="well">
			<h4>Identidad corporativa, dise&ntilde;o gr&aacute;fico, campa&ntilde;as de marketing y posicionamiento web</h4>
			<p style="text-align: justify;"><img style="text-align: justify; margin: 0px 4px 0px 0px; float: left; height: 140px; width: 260px;" alt="diseno" src="{{ STATIC_URL }}images/services/diseno_grafico.png"></p>
			<p style="text-align: justify;">En eloquenti@ solutions hemos desarrollado un servicio especializado
			en el uso de tecnolog&iacute;as de informaci&oacute;n, t&eacute;cnicas de&nbsp;dise&ntilde;o Web,
			dise&ntilde;o gr&aacute;fico y la gesti&oacute;n comunicacional, con el objetivo de aumentar
			las notoriedad de la empresa y sus productos y servicios en la red,
			desarrollar el mercado e incrementar las ventas.
			<br>Analizamos su negocio, su competencia y su p&uacute;blico objetivo. Lo
			asesoramos sobre la estrategia comunicacional y la identidad corporativa
			 m&aacute;s id&oacute;nea.</p>
			<a class="btn service_link btn-success" href="../services/identidad_diseno_posicionamiento.html"><i class="icon-zoom-in"></i>Leer m&aacute;s</a>
			<a class="btn btn-success product_contact" href="/contact.html" role="button"
				data-toggle="modal" data-target="#modal_div" title="Cont&aacute;ctenos para solicitar un servicio ajustado a sus necesidades"><i class="icon-fullscreen"></i>Cotizar</a>
		</div>

		<div class="well">
			<h4>Entrenamiento e implementaci&oacute;n Open ERP</h4>
			<p style="text-align: justify;"><img style="text-align: justify; margin: 0px 4px 0px 0px; float: left; height: 140px; width: 260px;" alt="entrenamiento_implementacion" src="{{ STATIC_URL }}images/services/implementacion_openerp.png">Eloquenti@ Solutions cuenta con un equipo
				especializado y con amplia experiencia en la implementaci&oacute;n de sistemas
				administrativos, desarrollo de software y capacitaci&oacute;n de personal. La
				misma ofrece dos tipos de servicios relacionados con la tecnolog&iacute;a base <strong>OpenERP</strong>.
				<br>Gracias a la disposici&oacute;n de oficinas en
				M&eacute;xico, Cuba y Uruguay, podemos ofrecer cobertura y<strong>
				soporte de OpenERP</strong> a clientes de toda Latinoam&eacute;rica de una forma
				expedita y totalmente en espa&ntilde;ol.</p>
			<a class="btn service_link btn-success" href="../services/openerp.html"><i class="icon-zoom-in"></i>Leer m&aacute;s</a>
			<a class="btn btn-success product_contact" href="/contact.html" role="button"
				data-toggle="modal" data-target="#modal_div" title="Cont&aacute;ctenos para solicitar un servicio ajustado a sus necesidades"><i class="icon-fullscreen"></i>Cotizar</a>
		</div>

		<div class="well">
			<h4>Servicio migraci&oacute;n a software libre</h4>
			<div>
				<p style="text-align: justify;"><img style="margin: 0px 8px 0px 0px; float: left; height: 140px; width: 260px;" alt="migracion" src="{{ STATIC_URL }}images/services/migracion.png">Nuestra
				 empresa ofrece el servicio de migraci&oacute;n de su infraestructura total a
				soluciones de software libre y c&oacute;digo abierto, partiendo de un
				levantamiento de los procesos y una identificaci&oacute;n de todos los
				servicios y productos soportados en tecnolog&iacute;a privativa, con el fin de
				identificar las necesidades reales de migraci&oacute;n.</p>
				<br><br>
			</div>
			<a class="btn service_link btn-success" href="../services/migracion.html"><i class="icon-zoom-in"></i>Leer m&aacute;s</a>
			<a class="btn btn-success product_contact" href="/contact.html" role="button"
				data-toggle="modal" data-target="#modal_div" title="Cont&aacute;ctenos para solicitar un servicio ajustado a sus necesidades"><i class="icon-fullscreen"></i>Cotizar</a>
		</div>

		<div class="well">
			<h4>Capacitaci&oacute;n en inform&aacute;tica</h4>
			<div>
				<p style="text-align: justify;"><img style="margin: 0px 4px 0px 0px; float: left; height: 140px; width: 260px;" alt="capacitacion" src="{{ STATIC_URL }}images/services/capacitacion.png">Eloquenti@
				 Solutions cuenta con un equipo especializado y con amplia experiencia
				en el desarrollo de soluciones empresariales y de entorno web, as&iacute; como
				en procesos de entrenamiento de personal y capacitaci&oacute;n en inform&aacute;tica.
				En este sentido nuestra empresa ha creado una academia para el
				entrenamiento de personas naturales o empresas que desean iniciar o
				perfeccionar sus capacidades t&eacute;cnicas y tecnol&oacute;gicas relacionadas con el
				 desarrollo de software.&nbsp;</p>
				 <br>
			 </div>
			<a class="btn service_link btn-success" href="../services/capacitacion.html"><i class="icon-zoom-in"></i>Leer m&aacute;s</a>
			<a class="btn btn-success product_contact" href="/contact.html" role="button"
				data-toggle="modal" data-target="#modal_div" title="Cont&aacute;ctenos para solicitar un servicio ajustado a sus necesidades"><i class="icon-fullscreen"></i>Cotizar</a>
		</div>

		<div tabindex="-1" class="modal hide fade" id="ajax-modal" style="display: none; margin-top: -128.5px;" aria-hidden="true">
			<div class="modal-header">
				<button aria-hidden="true" data-dismiss="modal" class="close" type="button">x</button>
				<h4>Informaci&oacute;n</h4>
			</div>
			<div class="modal-body" data-replace="true">

			</div>
		</div>
	</div>

	<div class="clear"></div>

	<script type="text/javascript">
		var $modal = $('#ajax-modal');
		$('a.service_link,ul.breadcrumb li a').click(function(e) {
			History.pushState({state:null}, null, this.href);
			return false;
		});

		$('.product_contact').click(function(e){
			//History.pushState({state:null}, null, this.href);
			$modal.find('.modal-header h4').html(this.title);
			$modal.find('.modal-body').load(this.href, 'modal=true', function(){
		    	$modal.modal({width: 800});
	    	});
			return false;
		});
	</script>