	<ul class="breadcrumb">
	    <li><a href="/services.html">Servicios</a><span class="divider">/</span></li>
	    <li class="active"><a href="/services/migracion.html">Migraci&oacute;n a Software Libre</a></li>
    </ul>
	<div class="well">
		<h2>Servicio migraci&oacute;n a software libre</h2>
		<p style="text-align: justify;"><img style="margin: 0px 8px 0px 0px; float: left; height:230px; width:428px;" alt="" src="{{ STATIC_URL }}images/services/migracion.png">Nuestra empresa ofrece el servicio de migraci&oacute;n de su infraestructura total a soluciones de software libre y c&oacute;digo abierto, partiendo de un levantamiento de los procesos y una identificaci&oacute;n de todos los servicios y productos soportados en tecnolog&iacute;a privativa, con el fin de identificar las necesidades reales de migraci&oacute;n.</p>
		<p style="text-align: justify;">Para ello no solo se proyecta la transferencia de las herramientas, sino que se incluye un rico y bien estructurado programa de formaci&oacute;n que cubre todas las t&eacute;cnicas de trabajo y el entrenamiento de todas las herramientas de software que son implementadas.</p>
		<br><br><br>

		<h4>El servicio incluye:</h4>
		<dl>
			<dd><span class="badge badge-warning">1</span>Auditor&iacute;a de diagnostico de la empresa</dd>
			<dd><span class="badge badge-warning">2</span>Elaboraci&oacute;n del plan de migraci&oacute;n</dd>
			<dd><span class="badge badge-warning">3</span>Migraci&oacute;n de estaciones cliente y aplicaciones a Ubuntu Escritorio</dd>
			<dd><span class="badge badge-warning">4</span>Migraci&oacute;n de aplicaciones a ambientes multiplataforma, usando como tecnolog&iacute;a base python</dd>
			<dd><span class="badge badge-warning">5</span>Migraci&oacute;n de servicios de back-office (correo, web, firewalls, base datos, etc.) a Ubuntu server Linux</dd>
			<dd><span class="badge badge-warning">6</span>Despliegue de la migraci&oacute;n</dd>
			<dd><span class="badge badge-warning">7</span>Capacitaci&oacute;n a usuarios</dd>
			<dd><span class="badge badge-warning">8</span>Capacitaci&oacute;n a personal t&eacute;cnico/soporte/desarrollo de la empresa</dd>
		</dl>
	</div>
	
	<div class="clear"></div>
	<script type="text/javascript">
		$('ul.breadcrumb li a').click(function(e) {
			History.pushState({state:this}, null, this.href);
			return false;
		});
	</script>