	<ul class="breadcrumb">
	    <li><a href="/services.html">Servicios</a><span class="divider">/</span></li>
	    <li class="active"><a href="/services/openerp.html">Entrenamiento e Implementaci&oacute;n OpenERP</a></li>
    </ul>
	<div>
		<div class="well">
				<h2>Entrenamiento e implementaci&oacute;n Open ERP</h2>
				<p style="text-align: justify;"">Eloquenti@ Solutions cuenta con un equipo
				especializado y con amplia experiencia en la implementaci&oacute;n de sistemas
				administrativos, desarrollo de software y capacitaci&oacute;n de personal. La
				misma ofrece dos tipos de servicios relacionados con la tecnolog&iacute;a base
				<strong>OpenERP</strong>.&nbsp;</p>

				<p style="text-align: justify;">&nbsp;</p>
				<p></p>
<!--					<div align="center"><iframe-->
<!--						class="mp4downloader_embedButtonInitialized mp4downloader_tagChecked "-->
<!--						src="index_1.html" allowfullscreen="" frameborder="2" height="315"-->
<!--						width="560"></iframe>-->
<!--					<div style="width: 560px; text-align: center;">-->
<!--					<button class="mp4downloader_btnForIFrame " type="button">Download-->
<!--					Video as MP4</button>-->
<!--					</div>-->
<!--					</div>-->
				<p></p>
				<p style="text-align: justify;">Gracias a la disposici&oacute;n de oficinas en
				M&eacute;xico, Cuba y Uruguay, podemos ofrecer cobertura y<strong>
				soporte de OpenERP</strong> a clientes de toda Latinoam&eacute;rica de una forma
				expedita y totalmente en espa&ntilde;ol.</p>
			<hr>
				<p style="text-align: justify;"><strong>Entre los beneficios que
				usted puede contratar a Eloquenti@ Solutions relacionados con OpenERP
				destacan:</strong></p>
				<h3 style="text-align: justify;"><strong>Entrenamiento en
				OpenERP y tecnolog&iacute;a Python</strong></h3>
				<p style="text-align: justify;"><img style="margin: 0px 8px 1px 1px; float: left; height:auto; width:350px;" alt="" src="{{ STATIC_URL }}images/services/implementacion_openerp.png">Eloquenti@ Solutions cuenta con entrenadores t&eacute;cnicos
				y funcionales especializados en impartir cursos en las distintas &aacute;reas
				de conocimiento que se ven implicadas en un proyecto de implementaci&oacute;n
				de OpenERP.&nbsp;</p>
				<p style="text-align: justify;">El servicios de entrenamiento es ofrecido
				en tres modalidades:</p>
				<p style="text-align: justify;">--- directamente en sus oficinas. En este caso nuestros
				especialista se desplazar&iacute;a hacia el lugar que usted disponga</p>
				<p style="text-align: justify;">--- en los laboratorios de formaci&oacute;n de Eloquenti@ Solutions. En
				este sentido usted contar&iacute;a con tres posibles destinos, La Habana Cuba,
				Cancun M&eacute;xico, o Montevideo Uruguay</p>
				<p style="text-align: justify;">--- o en el centro de conversiones habilitado para este tipo de
				actividades por Eloquenti@ en la zona hotelera de cancun (<strong>oferta
				muy econ&oacute;mica y bien habilitada para combinar descanso con
				entrenamiento, muy buena opci&oacute;n para incentivos empresariales</strong>)</p>
				<p style="text-align: justify;">Los programas de entrenamiento est&aacute;n
				agrupados en tres grande grupos</p>
				<p style="text-align: justify;"><a
					id="50:entrenamiento-funcional-openerp&amp;catid=18:ninguna&amp;Itemid=101&quot;">Entrenamiento
				Funcional sobre OpenERP</a></p>
				<p style="text-align: justify;"><a
					id="51:entrenamiento-funcional-openerp-2&amp;catid=18:ninguna&amp;Itemid=101&quot;">Entrenamiento
				T&eacute;cnico sobre OpenERP</a></p>
				<p style="text-align: justify;"><a
					id="52:entrenamiento-funcional-openerp-3&amp;catid=18:ninguna&amp;Itemid=101&quot;">Entrenamiento
				en Python y ambientes de desarrollo</a></p>
			<hr>
				<h3 style="text-align: justify;"><strong>Implementaci&oacute;n de
					OpenERP y explotaci&oacute;n asistida</strong></h3>
				<p style="text-align: justify;"><img style="margin: 1px 8px 1px 1px; vertical-align: top; "
					alt="desarrollo2" src="{{ STATIC_URL }}images/services/desarrollo2.png"></p>
				<p style="text-align: justify;">Dentro de la cartera de servicios
				prestados alrededor de <strong>OpenERP</strong> ofrecemos la
				implementaci&oacute;n de la herramienta en varias etapas, las cuales pueden ser
				tomadas parcialmente en caso de que el cliente desee continuar de forma
				independiente la implementaci&oacute;n.</p>
				<p style="text-align: justify;"><strong>Los proyectos de
				implementaci&oacute;n son abordados en tres fases fundamentalmente:</strong></p>
				<p style="text-align: justify;"><strong>Entrenamiento inicial:</strong> Se
				entrena a los l&iacute;deres del proyecto, los l&iacute;deres funcionales y lideres de
				los distintos centros de responsabilidad acerca de todo el potencial
				funcional de OpenERP.&nbsp;</p>
				<p style="text-align: justify;">Luego se entrena al personal t&eacute;cnico o de
				infraestructura para que sea capaz de poder dar un soporte de primer
				nivel a sus usuarios finales y poder trabajar en conjunto con Eloquenti@
				en los primeros desarrollos que sean necesarios hacer sobre la
				herramienta. Estas jornadas permiten hacer una completa transferencia de
				conocimiento en el mismo inicio del proyecto para que sea el cliente
				quien pueda saber hasta donde es capaz de llegar con OpenERP y se pueda
				apoyar en Eloquenti@ para impulsar el crecimiento continuo que siempre
				requiere esta herramienta.</p>
				<p style="text-align: justify;"><strong>Levantamiento de
				informaci&oacute;n Funcional y T&eacute;cnico:</strong> Luego del entrenamiento se procede
				hacer un an&aacute;lisis de los requerimientos y montaje de casos de uso sobre
				OpenERP junto con el personal capacitado, para entender en la pr&aacute;ctica
				cuales son las brechas que existen entre los procesos levantados por el
				cliente y el proceso tal cual lo lleva OpenERP. Es en este punto en
				donde se hace la verdadera estimaci&oacute;n de las horas de desarrollo
				necesarias para lograr el cierre de tales brechas. Por lo general se
				estima en horas-hombre y normalmente se emplea un equipo de consultores
				trabajando por un lapso de cuatro (4) a seis (6) semanas dependiendo del
				tama&ntilde;o de la implementaci&oacute;n. Al final de esas semanas se tiene ya un
				alcance definido de las etapas que tomar&aacute; el proyecto, se tiene una
				instalaci&oacute;n de OpenERP a nivel de pruebas y desarrollo que ser&aacute; la base
				para la instancia en producci&oacute;n definitiva y todos los procesos
				intermedios para los desarrollos futuros.</p>
				<p style="text-align: justify;"><strong>Desarrollo:</strong> A partir de
				la informaci&oacute;n, el diagnostico y los requerimientos identificados en la
				etapa anterior, se ejecutan las horas de desarrollo estimadas. En caso
				de que el cliente posea un equipo t&eacute;cnico presto para apoyar el
				proyecto, se pueden delegar desarrollos para trabajar de forma conjunta,
				acompa&ntilde;ada o exclusiva por Eloquenti@, de tal manera que la relaci&oacute;n
				costo / entregable sea la que el cliente decida o considere necesaria.
				Recuerde que el c&oacute;digo fuente es y ser&aacute; de todos, por consiguiente
				absolutamente toda nuestra metodolog&iacute;a de desarrollo es abierta y basada
				en est&aacute;ndares internacionales de calidad y nuestra idea es que su equipo
				pueda programar tan bien como el nuestro a medida que avance el proyecto
				otorgando libertad absoluta sobre el producto software obtenido al final
				de su implementaci&oacute;n. Esta etapa incluye toda la labor de pruebas
				unitarias entornos controlados de pruebas pilotos que se crear&aacute;n con tal
				fin.</p>
				<p style="text-align: justify;"><strong>Entrenamiento a los
				usuarios finales:</strong> Como parte de la implementaci&oacute;n esto es una etapa
				clave del proceso, pero nuestra experiencia nos indica que al llegar a
				este punto el cliente es capaz de realizar el grueso de los
				entrenamientos a usuarios finales, dejando a Eloquenti@ s&oacute;lo la
				capacitaci&oacute;n necesaria a los l&iacute;deres y el trabajo de gesti&oacute;n de calidad
				del proyecto, para asegurar escalabilidad, migraci&oacute;n y soporte t&eacute;cnico a
				futuro.</p>
				<p style="text-align: justify;"><strong>Explotaci&oacute;n asistida:</strong> En
				esta etapa Eloquenti@ realiza un acompa&ntilde;amiento al cliente en la
				arrancada y puesta a punto del sistema, dando un enfoque especial en la
				operaci&oacute;n contable y financiera de la herramienta con el fin de asegurar
				que los primeros cierres financieros est&eacute;n de acuerdo a lo esperado por
				el cliente.</p>
				<p style="text-align: justify;"><strong>Soporte:</strong> Eloquenti@ le
				propone una estrategia de soporte durante tres a&ntilde;os, las 24 horas del
				d&iacute;a, acordando una taza de servicio que permita que usted abone solo el
				monto concreto de soporte que realmente demanden sus necesidades. Esta
				variante de soporte no solo le da la posibilidad de tener tres a&ntilde;os para
				evolucionar, modificar o migrar su soluci&oacute;n a nuevas versiones de
				OpenERP, sino que tendr&aacute; la seguridad de contar con un proveedor que lo
				asistir&aacute; ante cualquier eventualidad en la organizaci&oacute;n que requiera una
				transformaci&oacute;n radical o una reimplementaci&oacute;n del proyecto, sin correo
				el riesgo de perder todo lo que tenia de la versi&oacute;n anterior.</p>
				<p>&nbsp;</p>
		</div>
    </div>

	<div class="clear"></div>
	<script type="text/javascript">
		$('ul.breadcrumb li a').click(function(e) {
			History.pushState({state:this}, null, this.href);
			return false;
		});
	</script>