	<ul class="breadcrumb">
	    <li><a href="/services.html">Servicios</a><span class="divider">/</span></li>
	    <li><a href="/services/capacitacion.html">Capacitaci&oacute;n en Inform&aacute;tica</a><span class="divider">/</span></li>
	    <li class="active"><a href="/services/paq-tecnologico.html">Paquete Tecnol&oacute;gico</a></li>
    </ul>
	<div >
		<div class="well">
			<h2>Paquete tecnol&oacute;gico</h2>
			<p style="text-align: justify;"><span style="font-size: 10pt;">Este paquete tiene el objetivo de introducir a los estudiantes en las tecnolog&iacute;as de desarrollo, cre&aacute;ndose para ello 3 cursos integrales. En este sentido el estudiante podr&aacute; escoger cual lenguaje va a decidir incursionar, y en funci&oacute;n de eso, sera el plan tem&aacute;tico que le sera asignado</span></p>
		</div>
		
		<div class="row-fluid">
			<div class="span6 well">
				<h4>Lenguaje de programaci&oacute;n Python (5 d&iacute;as)</h4>
				<dl>
					<dd><span class="badge badge-warning">1</span>Instalaci&oacute;n ambiente de desarrollo (4 horas)</dd>
					<dd><span class="badge badge-warning">2</span>Principios de Python, filosof&iacute;a y caracter&iacute;sticas tecnol&oacute;gicas (2 horas)</dd>
					<dd><span class="badge badge-warning">3</span>Introducci&oacute;n a Python (14 horas)</a>
						<ul>
							<li>Elementos b&aacute;sicos (2 horas)
								<ul>
									<li>Variables</li>
									<li>Instrucciones</li>
									<li>Flujos de control</li>
									<li>Flujos condicionales</li>
								</ul>
							</li>
							<li>Arreglos, listas, tuplas, conjuntos (2 horas)</li>
							<li>Comprensores de listas (1 horas)</li>
							<li>Decoradores (4 horas)</li>
							<li>Herencias (1 horas)</li>
							<li>Estructuras (1 horas)</li>
							<li>Propiedades (1 horas)</li>
							<li>Procesamiento de ficheros (1 horas)</li>
							<li>Trabajo con cadenas (0.5 horas)</li>
							<li>Trabajo con fechas (0.5 horas)</li>
						</ul>
					</dd>
					<dd><span class="badge badge-warning">4</span>I18N (1 horas)</dd>
					<dd><span class="badge badge-warning">5</span>Trabajo con bases de datos usando un ORM (8 horas)</dd>
					<dd><span class="badge badge-warning">6</span>Corrida de un programa (8 horas)</dd>
				</dl>
			</div>
			
			<div class="span6 well">
				<h4>Lenguaje de programaci&oacute;n PHP (4 d&iacute;as)</h4>
				<dl>
					<dd><span class="badge badge-warning">1</span>Instalaci&oacute;n ambiente de desarrollo (2 horas)</dd>
					<dd><span class="badge badge-warning">2</span>Principios de PHP, filosof&iacute;a y caracter&iacute;sticas tecnol&oacute;gicas (2 horas)</dd>
					<dd><span class="badge badge-warning">3</span>Introducci&oacute;n a PHP (8 horas)</a>
						<ul>
							<li>Elementos b&aacute;sicos (2 horas)
								<ul>
									<li>Variables</li>
									<li>Instrucciones</li>
									<li>Flujos de control</li>
									<li>Flujos condicionales</li>
								</ul>
							</li>
							<li>Arreglos, listas (2 horas)</li>
							<li>M&eacute;todos m&aacute;gicos (1 horas)</li>
							<li>Herencias (1 horas)</li>
							<li>Procesamiento de ficheros (1 horas)</li>
							<li>Trabajo con cadenas (0.5 horas)</li>
							<li>Trabajo con fechas (0.5 horas)</li>
						</ul>
					</dd>
					<dd><span class="badge badge-warning">4</span>I18N (1 horas)</dd>
					<dd><span class="badge badge-warning">5</span>Trabajo con bases de datos usando un ORM (8 horas)</dd>
					<dd><span class="badge badge-warning">6</span>Corrida de un programa (8 horas)</dd>
				</dl>
				<div style="height: 60px;"></div>
			</div>
		</div>
		
		<div class="row-fluid">
			<div class="span6 well">
				<h4>Framework de desarrollo Web Django (6 dias)</h4>
				<dl>
					<dd><span class="badge badge-warning">1</span>Introducci&oacute;n a django (4 horas)</dd>
					<dd><span class="badge badge-warning">2</span>Instalaci&oacute;n y configuraci&oacute;n ambiente de desarrollo (4 horas)</dd>
					<dd><span class="badge badge-warning">3</span>Trabajo con modelo de objetos (8 horas)</dd>
					<dd><span class="badge badge-warning">4</span>Trabajo con vistas (8 horas)</dd>
					<dd><span class="badge badge-warning">5</span>Trabajo con plantilla (4 horas)</dd>
					<dd><span class="badge badge-warning">6</span>I18N (2 horas)</dd>
					<dd><span class="badge badge-warning">7</span>Trabajo con el ORM (8 horas)</dd>
					<dd><span class="badge badge-warning">8</span>Seguridad (2 horas)</dd>
					<dd><span class="badge badge-warning">9</span>Caso de estudio (8 horas)</dd>
				</dl>
			</div>
			
			<div class="span6 well">
				<h4>Framework de desarrollo Web Synfony2 (6 dias)</h4>
				<dl>
					<dd><span class="badge badge-warning">1</span>Introducci&oacute;n a Synfony2 (4 horas)</dd>
					<dd><span class="badge badge-warning">2</span>Instalaci&oacute;n y configuraci&oacute;n ambiente de desarrollo (4 horas)</dd>
					<dd><span class="badge badge-warning">3</span>Trabajo con modelo de objetos (8 horas)</dd>
					<dd><span class="badge badge-warning">4</span>Trabajo con vistas (8 horas)</dd>
					<dd><span class="badge badge-warning">5</span>Trabajo con plantilla (4 horas)</dd>
					<dd><span class="badge badge-warning">6</span>I18N (2 horas)</dd>
					<dd><span class="badge badge-warning">7</span>Trabajo con el ORM (8 horas)</dd>
					<dd><span class="badge badge-warning">8</span>Seguridad (2 horas)</dd>
					<dd><span class="badge badge-warning">9</span>Caso de estudio (8 horas)</dd>
				</dl>
			</div>
		</div>
		
		
		<div class="row-fluid">
			<div class="span6 well">
				<h4>CMS Joomla, Drupal (5 dias)</h4>
				<div><cite>PD: el cliente puede escoger uno de los dos</cite></div>
				<dl>
					<dd><span class="badge badge-warning">1</span>Introducci&oacute;n al cms (4 horas)</dd>
					<dd><span class="badge badge-warning">2</span>Instalaci&oacute;n y configuraci&oacute;n cms (4 horas)</dd>
					<dd><span class="badge badge-warning">3</span>Trabajo con m&oacute;dulos (8 horas)</dd>
					<dd><span class="badge badge-warning">4</span>Trabajo con paginas (4 horas)</dd>
					<dd><span class="badge badge-warning">5</span>Trabajo con plugins (4 horas)</dd>
					<dd><span class="badge badge-warning">6</span>Administraci&oacute;n (4 horas)</dd>
					<dd><span class="badge badge-warning">7</span>Otras herramientas (8 horas)</dd>
				</dl>
				<div style="height: 40px;"></div>
			</div>
			<div class="span6 well">
				<h4>e-Comerce PrestaShop, Magento (7 dias)</h4>
				<div><cite>PD: el cliente puede escoger uno de los dos</cite></div>
				<dl>
					<dd><span class="badge badge-warning">1</span>Introducci&oacute;n a el e-comerce (4 horas)</dd>
					<dd><span class="badge badge-warning">2</span>Instalaci&oacute;n y configuraci&oacute;n e-comerce (4 horas)</dd>
					<dd><span class="badge badge-warning">3</span>Gestionar productos (16 horas)</dd>
					<dd><span class="badge badge-warning">4</span>Gestionar pedidos (4 horas)</dd>
					<dd><span class="badge badge-warning">5</span>Gestionar facturas (4 horas)</dd>
					<dd><span class="badge badge-warning">6</span>Gestionar transporte (4 horas)</dd>
					<dd><span class="badge badge-warning">7</span>Gestionar almac&eacute;n (8 horas)</dd>
					<dd><span class="badge badge-warning">8</span>Gestionar administraci&oacute;n (8 horas)</dd>
					<dd><span class="badge badge-warning">9</span>Otras caracter&iacute;sticas (4 horas)</dd>
				</dl>
			</div>
		</div>
		
		<div class="row-fluid">
			
			<div class="span6 well">
				<h4>Tecnolog&iacute;as clientes</h4>
				<dl>
					<dd><span class="badge badge-warning">1</span>Introducci&oacute;n a HTML5 (8 horas)</dd>
					<dd><span class="badge badge-warning">2</span>Introducci&oacute;n a CSS 3 (8 horas)</dd>
					<dd><span class="badge badge-warning">3</span>Introducci&oacute;n a framework Boostrap (8 horas)</dd>
					<dd><span class="badge badge-warning">4</span>Caso de estudio (8 horas)</dd>
				</dl>
			</div>
		</div>
					
	</div>	
	
	<div class="clear"></div>
	<script type="text/javascript">
		$('ul.breadcrumb li a').click(function(e) {
			History.pushState({state:this}, null, this.href);
			return false;
		});
	</script>