	<ul class="breadcrumb">
	    <li><a href="/services.html">Servicios</a><span class="divider">/</span></li>
	    <li><a href="/services/capacitacion.html">Capacitaci&oacute;n en Inform&aacute;tica</a><span class="divider">/</span></li>
	    <li class="active"><a href="/services/paq-teorico.html">Paquete Bases Te&oacute;ricas</a></li>
    </ul>
	<div>
		<div class="well">
			<h2>Paquete Bases Te&oacute;ricas</h2>
			<p style="text-align: justify;"><span style="font-size: 10pt;">Este paquete esta orientado a crear bases te&oacute;ricas imprescindibles para cualquier interesado en incursionar en el mundo del desarrollo de software o el desarrollo web. El mismo esta compuesto por cuatro cursos tem&aacute;ticos:</span></p>
		</div>
		
		<div class="row-fluid">
			<div class="span6 well">
				<h4>Arquitectura de software (3 d&iacute;as)</h4>
				<dl>
					<dd><span class="badge badge-warning">1</span>Introducci&oacute;n a la arquitectura de software (4 horas)</dd>
					<dd><span class="badge badge-warning">2</span>Estilos arquitect&oacute;nicos (4 horas)</dd>
					<dd><span class="badge badge-warning">3</span>Patrones de dise&ntilde;o (8 horas)</dd>
					<dd><span class="badge badge-warning">4</span>T&eacute;cnicas de evaluaci&oacute;n y valoraci&oacute;n de una arquitectura de software (8 horas)</dd>
				</dl>
			</div>
			
			<div class="span6 well">
				<h4>Calidad del software (4 d&iacute;as)</h4>
				<dl>
					<dd><span class="badge badge-warning">1</span>Introducci&oacute;n a la calidad del software (8 horas)</dd>
					<dd><span class="badge badge-warning">2</span>Las pruebas de calidad del software (16 horas)</dd>
					<dd><span class="badge badge-warning">3</span>Herramientas para realizar pruebas de calidad de software (8 horas)</dd>
				</dl>
				<div style="height: 40px;"></div>
			</div>
		</div>
		
		<div class="row-fluid">
			<div class="span6 well">
				<h4>Bases de datos relacionales (4 d&iacute;as)</h4>
				<dl>
					<dd><span class="badge badge-warning">1</span>Introducci&oacute;n a bases de datos relacionales (4 horas)</dd>
					<dd><span class="badge badge-warning">2</span>Modelo entidad relaci&oacute;n (2 horas)</dd>
					<dd><span class="badge badge-warning">3</span>Modelo relacional (2 horas)</dd>
					<dd><span class="badge badge-warning">4</span>T&eacute;cnicas de normalizaci&oacute;n de bases de datos (8 horas)</dd>
					<dd><span class="badge badge-warning">5</span>Introducci&oacute;n al lenguaje de consulte SQL (8 horas)</dd>
					<dd><span class="badge badge-warning">6</span>Introducci&oacute;n a gestores de base de datos (8 horas)</a>
						<dl>
							<dd>PostgresSQL</dd>
							<dd>MySQL</dd>
						</dl>
					</dd>
				</dl>
			</div>
			
			<div class="span6 well">
				<h4>Metodolog&iacute;a de desarrollo &aacute;gil Scrum (5 d&iacute;as)</h4>
				<dl>
					<dd><span class="badge badge-warning">1</span>Introducci&oacute;n a la ingenier&iacute;a de software (2 horas)</dd>
					<dd><span class="badge badge-warning">2</span>M&eacute;todos &aacute;giles vs m&eacute;todos ortodoxos (2 horas)</dd>
					<dd><span class="badge badge-warning">3</span>Introducci&oacute;n a la gesti&oacute;n de proyectos (8 horas)</dd>
					<dd><span class="badge badge-warning">4</span>Introducci&oacute;n a la gesti&oacute;n de riesgos (2 horas)</dd>
					<dd><span class="badge badge-warning">5</span>Introducci&oacute;n a Scrum (16 horas)</dd>
					<dd><span class="badge badge-warning">6</span>T&eacute;cnicas de direcci&oacute;n (2 horas)</dd>
					<dd><span class="badge badge-warning">7</span>Introducci&oacute;n a herramientas de gesti&oacute;n de proyectos (8 horas)</dd>
				</dl>
				<div style="height: 20px;"></div>
			</div>
		</div>
		
	</div>
	<div class="clear"></div>
	<script type="text/javascript">
		$('ul.breadcrumb li a').click(function(e) {
			History.pushState({state:this}, null, this.href);
			return false;
		});
	</script>