	<ul class="breadcrumb">
	    <li><a href="/services.html">Servicios</a><span class="divider">/</span></li>
	    <li><a href="/services/capacitacion.html">Capacitaci&oacute;n en Inform&aacute;tica</a><span class="divider">/</span></li>
	    <li class="active"><a href="/services/paq-infraestructura.html">Paquete Infraestructura</a></li>
    </ul>
	<div>
		<div class="well">
			<h2>Paquete infraestructura</h2>
			<p style="text-align: justify;"><span style="font-size: 10pt;">Este paquete tiene el objetivo de introducir conocimientos en tecnolog&iacute;as de infraestructura y servicios telem&aacute;ticos, que permiten a los clientes poder administrar sus propios despliegues, y garantizar por si solo el nivel uno de soporte de sus aplicativos.</span></p>
		</div>
		<div class="row-fluid">
			<div class="span6 well">
				<h4>Sistema Operativo Linux Ubuntu 12.10 (6 d&iacute;as)</h4>
				<dl>
					<dd><span class="badge badge-warning">1</span>Instalaci&oacute;n y configuraci&oacute;n de Linux (4 horas)</dd>
					<dd><span class="badge badge-warning">2</span>Administraci&oacute;n b&aacute;sica del sistema operativo (2 horas)</dd>
					<dd><span class="badge badge-warning">3</span>Algunos comandos de consola (2 horas)</dd>
					<dd><span class="badge badge-warning">4</span>Mejorando el ambiente del sistema operativo (8 horas)</dd>
					<dd><span class="badge badge-warning">5</span>Uso de herramientas de oficina alternativas a Microsoft Office (16 horas)</dd>
					<dd><span class="badge badge-warning">6</span>Otras herramientas de inter&eacute;s (8 horas)</dd>
					<div style="height: 40px;"></div>
				</dl>
			</div>
			
			<div class="span6 well">
				<h4>Gesti&oacute;n de los servicios web y bases de datos (2 d&iacute;as)</h4>
				<dl>
					<dd><span class="badge badge-warning">1</span>Instalaci&oacute;n y configuraci&oacute;n del ambiente de despliegue (4 horas)</dd>
					<dd><span class="badge badge-warning">2</span>Administraci&oacute;n b&aacute;sica de los servicios (2 horas)</dd>
					<dd><span class="badge badge-warning">3</span>Introducci&oacute;n al webmin (4 horas)</dd>
					<dd><span class="badge badge-warning">4</span>Introducci&oacute;n al phpmyadmin (2 horas)</dd>
					<dd><span class="badge badge-warning">5</span>Introducci&oacute;n al pgadmin (2 horas)</dd>
					<dd><span class="badge badge-warning">6</span>Introducci&oacute;n a apache, servidores virtuales y publicaci&oacute;n de servicios (4 horas)</dd>
				</dl>
			</div>
		</div>
		<div class="well">
			<h4>Laboratorio y ejercicios pr&aacute;cticos (3 d&iacute;as)</h4>
			<dl>
				<dd><span class="badge badge-warning">1</span>Montar un entorno controlado de prueba, con los elementos anteriormente transmitidos en los cursos anteriores</dd>
			</dl>
		</div>
	</div>
	<div class="clear"></div>
 	<script type="text/javascript">
		$('ul.breadcrumb li a').click(function(e) {
			History.pushState({state:this}, null, this.href);
			return false;
		});
	</script>