	<ul class="breadcrumb">
	    <li><a href="/services.html">Servicios</a><span class="divider">/</span></li>
	    <li class="active"><a href="/services/traduccion_subtitulado.html">Traducci&oacute;n y Subtitulado</a></li>
    </ul>
	<div class="well">
		<h2>Servicios de Traducci&oacute;n y Subtitulado</h2>
		<p style="text-align: justify;"><img style="text-align: justify; margin: 0px 4px 0px 0px; float: left; height:188px; width:350px;" alt="traduccion5" src="{{ STATIC_URL }}images/services/traduccion.png">Eloquenti@ Solutions cuenta con un equipo de traductores altamente calificados, lo que nos permite ofrecer una excelente variedad de <strong>servicios de traducci&oacute;n</strong></p>
		<p style="text-align: justify;"><span style="font-size: 14pt;"><strong>Servicios de traducci&oacute;n Profesional</strong></span><br>Consiste en el servicio de traducci&oacute;n de documentos del/al <strong>espa&ntilde;ol, ingl&eacute;s, franc&eacute;s, alem&aacute;n, italiano, portugu&eacute;s, ruso y japon&eacute;s</strong> con las siguientes caracter&iacute;sticas:</p>					 
		<p><strong>Presentaci&oacute;n:</strong></p>
		<p style="text-align: justify;">El documento se entregar&aacute; traducido al idioma solicitado en un per&iacute;odo de tiempo aproximado de unas 80 cuartillas cada semana. El documento es entregado en el formato solicitado por el cliente en soporte de CD o expuesto en nuestro sitio oficial con privilegios de cuenta de acceso para el cliente en el &aacute;rea de descarga.<br><strong>Formato:</strong><br>El formato en el que se entregar&aacute; el documento ya traducido, ser&aacute; exactamente igual al del original que se nos proporcione<br><strong>Cuartillas:</strong><br>El n&uacute;mero de cuartillas del documento original, ser&aacute; el que se tome como base para la cotizaci&oacute;n, en el entendido, de que, una cuartilla ser&aacute; igual a un total de 200 palabras traducidas<br><strong>Programas:</strong><br>Manejamos el programa que nos sea solicitado por el contratante, algunos de los m&aacute;s solicitados son: MS WORD, MS POWER POINT, MS EXCEL.<br><strong>Tipos de archivos:</strong><br>Algunos de los m&aacute;s solicitados son : TXT, PDF, HTML, PHP, XML, etc.<br><strong>&Aacute;reas del conocimiento que se cubren:</strong><br>legal, electr&oacute;nica, inform&aacute;tica, administraci&oacute;n, finanzas, RH, psicolog&iacute;a, medicina, biolog&iacute;a, bioqu&iacute;mica, construcci&oacute;n,&nbsp;mec&aacute;nica, qu&iacute;mica, mercadotecn&iacute;a, literatura<br><strong>Tipos de proyectos que se pueden demandar:</strong><br>manuales, contratos, ponencias, diapositivas,&nbsp;folleter&iacute;a, licitaciones, normas, instrucivos,&nbsp;certificados, actas, congresos, sitios web, c&oacute;digos fuentes</p>
		<p style="text-align: justify;"><span style="font-size: 14pt;" data-mce-mark="1"><strong>Servicios de transcripci&oacute;n</strong></span><br>Surge por la necesidad de las empresas, de llevar informaci&oacute;n de formatos tales como MiniKCT, KCT tradicional y Cds a archivos ms-word, <span style="font-size: 14pt;" data-mce-mark="1">ms-</span>excel, <span style="font-size: 14pt;" data-mce-mark="1">ms-</span>power point, pdf, etc</p>
		<p style="text-align: justify;"><span style="font-size: 14pt;" data-mce-mark="1"><strong>Servicios de subtitulado</strong></span><br>Surge por la necesidad de las empresas, de subtitular materiales audiovissuales</p>
		<p style="text-align: justify;"><span style="font-size: 14pt;"><strong>Sobre nuestros Traductores</strong></span><br>Nuestros traductores son profesionales relacionados con el &aacute;rea tem&aacute;tica que se demanda, familiarizados con la terminolog&iacute;a t&eacute;cnicas tales como ( m&eacute;dicos, t&eacute;cnicos, administradores, bi&oacute;logos, bioqu&iacute;micos, ingenieros, etc. ), en su gran mayor&iacute;a nativos de pa&iacute;ses con el idioma que se traduce</p>
		
		<h4>Forma de trabajo:</h4>
		<dl>
			<dd><span class="badge badge-warning">1</span>Se recibe el archivo digital (ya sea en formato .doc, .jpg, .pdf, .ppt o cualquier otra extensi&oacute;n).</dd>
			<dd><span class="badge badge-warning">2</span>Se realiza la cotizaci&oacute;n, el cliente nos hace saber que se aprueba y se comienza el trabajo.</dd>
			<dd><span class="badge badge-warning">3</span>Se hace un pago parcial previo al inicio de la traducci&oacute;n, y otro al t&eacute;rmino de la misma.</dd>
			<dd><span class="badge badge-warning">4</span>Se hace un conteo autom&aacute;tico de palabras en el idioma al que se traduce. Por cada 200 palabras se considerar&aacute; una cuartilla. El valor de la cuartilla var&iacute;a dependiendo del idioma y la especialidad de la traducci&oacute;n.</dd>
		</dl>
	</div>

	<div class="clear"></div>
	<script type="text/javascript">
		$('ul.breadcrumb li a').click(function(e) {
			History.pushState({state:this}, null, this.href);
			return false;
		});
	</script>